.container {
  width: 100%;
  height: 8rem;
  overflow: auto;
  border: 1px solid var(--sidebar-bg);
  padding: 0.5em;
  border-radius: 0.5em;
}

.container h4 {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.container p {
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 0.25em;
  flex-wrap: wrap;
}

.container p > span {
  font-size: 0.85rem;
  color: var(--icon-color);
}

@media screen and (max-width: 1200px) {
  .container{
    height: auto;
    max-height: 16em;
  }

  .container h4 {
    margin-bottom: 1em;
  }
}