.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em 0;
}

.line {
  margin-right: 0.5em;
}

.icon {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--sidebar-bg);
}

.trait {
  margin-left: 1em;
}


.renameBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: white;
  font-size: 1rem;
  border: none;
}

.renameBtn form {
  flex: 1;
  height: 100%;
  display: flex;
}

.renameBtn input {
  background: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 0.85rem;
  padding: 0.25em;
  border: 1px solid var(--sidebar-bg);
}

.editBtn {
  cursor: pointer;
  padding: 0.1em;
}

