.container {
  width: 20em;
  position: fixed;
  right: 10px;
  z-index: 3000;
  background: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 650ms;
}

.icon {
  width: 16px;
  height: 16px;
  background: gray;
  border-radius: 50%;
  white-space: nowrap;
}

.message {
  flex: 1;
  text-transform: lowercase;
}

.notification {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  animation: slide-out 650ms forwards;
  background: var(--card-bg);
  color: white;
  padding: 1em;
  border-radius: 0.25em;
}

.container.active {
  visibility: visible;
}

.container.active .notification {
  animation: slide-in 450ms forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
