.container {
  width: 90%;
  max-width: 22em;
  position: fixed;
  right: 10px;
  z-index: 3000;
  background: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 650ms;
}

.icon {
  width: 24px;
  height: 24px;
  background: whitesmoke;
  border-radius: 50%;
  white-space: nowrap;
}

.message {
  flex: 1;
}

.notification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  animation: slide-out 650ms forwards;
  color: white;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}

.notification.error {
  background: var(--main-error);
}

.notification.warning {
  background: var(--main-warning);
}

.notification.successs {
  background: var(--main-success);
}

.container.active {
  visibility: visible;
}

.container.active .notification {
  animation: slide-in 450ms forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
