.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.wrapper {
  width: 100%;
  background: var(--main-bg);
  box-shadow: 0 0 15px gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  padding: 2em 1em;
  border-radius: 1em;
}

.imageLoadingContainer {
  overflow: hidden;
}

.ownerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-explorer {
  text-decoration: underline;
  margin: 5px 0;
  font-size: 16px;
  color: var(--main-accent);
}

.usdPrice {
  font-size: 0.7rem;
  font-weight: lighter;
}

.imageLoadingContainer,
.imageContainer {
  width: calc(12 * 16px);
  height: calc(12 * 16px);
  border-radius: 50%;
  box-shadow: 0px 5px 5px gainsboro;
}

.details {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
  flex-wrap: wrap;
}

.detailContentWrapper {
  width: 16em;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 0.5em;
  gap: 1em;
  border: 1px solid gainsboro;
}

.detailContentWrapper img {
  width: 1.4em;
}

.address {
  transition: all 300ms;
  font-size: 0.85rem;
}

.address:hover {
  color: var(--main-accent);
}

.price {
  color: var(--main-accent);
}

.chain {
  font-size: 0.75rem;
}

.floor {
  font-weight: 500;
  font-size: 0.75rem;
  color: gray;
}

.description {
  width: 100%;
  max-width: 48em;
  text-align: center;
}

.creator .skeleton {
  width: 16em;
  padding: 0;
}

.description .skeleton {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imageLoadingContainer,
  .imageContainer {
    width: calc(8 * 16px);
    height: calc(8 * 16px);
  }
}

@media screen and (max-width: 480px) {
  .imageLoadingContainer,
  .imageContainer {
    width: calc(5 * 16px);
    height: calc(5 * 16px);
  }

  .detailContentWrapper {
    width: auto;
    padding: 0.5em;
  }

  .floor {
    font-size: 0.65rem;
  }

  .price {
    font-size: 0.85rem;
  }

  .detailContentWrapper img {
    width: 1em;
  }
}
