.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.banner {
  padding-top: 2em;
  background: linear-gradient(180deg, var(--explore-bg) 50%, var(--default) 50%);
}
.wrapper {
  padding: 0 1em;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1em;
}

.collectionDetails {
  height: 50%;
  margin-top: 7em;
  margin-left: 2em;
  width: 100%;
}

.sup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.left {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.left img {
  margin-left: 1em;
  border-radius: 50%;
  width: 1em;
  box-shadow: var(--shadow-light);
}

.right img {
  margin-left: 1em;
}

.sub {
}

.label {
  font-size: 14px;
  margin-right: 1em;
  color: var(--outline-dark);
}

.address {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-dark-900);
}

.imageLoadingContainer {
  overflow: hidden;
}

.ownerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-explorer {
  text-decoration: underline;
  margin: 5px 0;
  font-size: 16px;
  color: var(--main-color);
}

.usdPrice {
  font-size: 0.7rem;
  font-weight: lighter;
}

.imageLoadingContainer,
.imageContainer {
  margin-left: 1.5em;

  width: calc(12 * 16px);
  height: calc(12 * 16px);
  border-radius: 50%;
  box-shadow: var(--shadow-light);
}

.details {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.detailContentWrapper {
  width: 16em;
  background: var(--detail-bg);
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 0.5em;
  gap: 1em;
  border: 1px solid var(--outline2);
}

.detailContentWrapper img {
  width: 2em;
  margin-right: 0.5em;
}

.address {
  transition: all 300ms;
  font-size: 0.85rem;
}

.address:hover {
  cursor: var(--cursor-hover);
  color: var(--main-color);
}

.price {
  color: var(--main-color);
}

.chain {
  font-size: 0.75rem;
}

.floor {
  font-weight: 500;
  font-size: 0.75rem;
  color: gray;
}

.description {
  width: 100%;
  max-width: 48em;
  color: var(--text-sub-heading);
  font-size: 14px;
  margin-left: 1.5em;
  /* text-align: center; */
}

.creator .skeleton {
  width: 16em;
  padding: 0;
}

.description .skeleton {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .imageLoadingContainer,
  .imageContainer {
    width: calc(8 * 16px);
    height: calc(8 * 16px);
  }
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sup {
    flex-direction: column;
    align-items: center;
  }
  .left img {
    margin-left: 0.5em;
  }
  .right {
    margin-top: 0.5em;
  }
  .collectionDetails {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    margin: 0;
    text-align: center;
  }
  .banner {
    background: linear-gradient(180deg, var(--explore-bg) 7em, var(--default) 7em);
  }
  .imageContainer {
    margin: 2em 0 1em 0;
    height: auto;
    align-self: center;
  }
  .details {
    flex-direction: column;
  }

  .detailContentWrapper {
    width: auto;
    padding: 0.5em;
    height: 5em;
  }
}

@media screen and (max-width: 480px) {
  .imageLoadingContainer,
  .imageContainer {
    width: calc(5 * 16px);
    height: calc(5 * 16px);
  }

  .floor {
    font-size: 0.65rem;
  }
  .imageContainer {
    margin: 2em 0 1em 0;
    width: 9em;
    height: auto;
    align-self: center;
  }
  .price {
    font-size: 0.85rem;
  }

  .detailContentWrapper img {
    width: 1em;
  }
}
