.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
}

.container button {
  border: 1px solid var(--text-light-500);
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background: var(--error-300);
}

._0 {
  background: var(--text-light-500) !important;
}

.container input::placeholder {
  color: var(--text-light-500);
}

.closeIcon {
  fill: var(--main-bg);
}
