.container {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
  z-index: 10000;
}

.container.active {
  display: flex;
}

.wrapper {
  width: 100%;
  max-width: 48em;
  border-radius: 0.5em;
  background: var(--main-bg);
  padding: 4em 1em;
  position: relative;
}

.closeBtn {
  fill: var(--icon-color);
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.4em;
  height: 1.4em;
  padding: 0.25em;
  border-radius: 0.25em;
  background: var(--btn-close);
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.closeBtn:hover {
  box-shadow: var(--shadow-dark);
}

.content {
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6em;
  padding: 2em 4em;
  border-radius: 0.5em;
  border: 1px solid var(--outline);
}

.content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.content p {
  font-size: 0.85rem;
  font-weight: 600;
}

.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

.inputContainer label {
  position: absolute;
  font-size: 0.75rem;
  background: var(--main-bg);
  top: 0;
  left: 1em;
  transform: translateY(-50%);
  font-weight: 600;
}

.inputContainer input {
  width: 100%;
  padding: 0.5em;
  padding-top: 1em;
  border: 2px solid var(--outline);
  border-radius: 0.25em;
}

.inputContainer input:focus {
  border: 2px solid var(--main-color);
  outline: none;
}

.error {
  display: none;
  font-size: 0.75rem;
  color: var(--error-500);
}

.error.active {
  display: block;
}

.btn_1,
.btn_2,
.btn_3 {
  align-self: center;
  width: 100%;
  padding: 0.75em 2em;
  border-radius: 0.7em;
  background: var(--main-color);
  color: var(--main-bg);
  font-size: 1rem;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_1,
.btn_3 {
  background: var(--main-light);
}

.btn_1.active {
  background: var(--main-color);
}

.btn_1.active:hover {
  background: var(--main-hovered);
}

.btn_2:hover {
  background: var(--main-hovered);
}

.btn_3 {
  position: relative;
  cursor: var(--cursor-default);
}

.loaderIcon {
  position: absolute;
  right: 2em;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: rotate 300ms infinite linear;
}

.loaderIcon::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 0.5em;
  height: 2px;
  background: var(--main-light);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
