.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

.container * {
  transition: all 300ms;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  padding: 2.5em;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5em;
  background: var(--main-700);
  color: white;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
}

.inputContainer {
  width: 100%;
  max-width: 80%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.75em;
  background: var(--main-bg);
}

.inputContainer input {
  width: 100%;
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0 1em;
}

.inputContainer button {
  padding: 0.75em 4em;
  background: var(--main-700);
  color: white;
  border-radius: 0.75em;
  transition: all 300ms;
}

.inputContainer button:hover {
  background: var(--main-900);
}

.cruise {
  position: absolute;
  right: 0;
  top: 1em;
  padding-right: 2em;
}

.outerCircle {
  background: var(--main-700);
  border: 2px solid #d8dbea;
  height: 8em;
  width: 8em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em;
  position: relative;
}

.outerCircle::after {
  content: "";
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  left: 0;
  transform: translate(-70%, 4em);
  background: #18a493;
}

.outerCircle::before {
  content: "";
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  left: 0;
  transform: translate(-4em, 7em);
  background: #18a493;
}

.innerCircle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #18a493;
}

.innerCircle img {
  width: 3em;
}

@media screen and (max-width: 1320px) {
  .wrapper {
    max-width: 1000px;
    padding: 2em;
  }

  .title {
    font-size: 1.6rem;
  }

  .inputContainer {
    padding: 0.25em;
    border-radius: 0.5em;
  }

  .inputContainer button {
    border-radius: 0.5em;
  }

  .inputContainer input {
    font-size: 1rem;
  }

  .outerCircle {
    width: 6em;
    height: 6em;
  }

  .outerCircle::after {
    width: 4em;
    height: 4em;
    transform: translate(-65%, 3.5em);
  }

  .outerCircle::before {
    transform: translate(-3.5em, 6.25em);
  }
}

@media screen and (max-width: 768px) {
  .inputContainer {
    max-width: 100%;
  }

  .outerCircle {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 1em;
    padding-top: 2em;
  }

  .title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .inputContainer {
    flex-direction: column;
    align-items: center;
    background: transparent;
    gap: 1.5em;
  }

  .inputContainer input {
    padding: 0.5em;
    border-radius: 0.5em;
  }

  .inputContainer button {
    background: var(--main-bg);
    color: var(--main-700);
  }
}
