.cameraWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  height: calc(100vh - 5rem);
}
.retake {
  display: flex;
  align-items: center;
  margin-right: auto;
  cursor: var(--cursor-pointer);
  font-weight: 500;
  font-size: 1.25rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  background: rgb(101 110 133 / 75%);
  padding: 8px;
  border-radius: 50%;
}
.retake svg {
  transition: all 0.2s ease;
}
.retake svg path {
  fill: white;
}
.retake:hover svg {
  transform: translateX(-6px);
}

.cameraShot {
  width: 100%;
  height: 100%;
  background: #ffffff;
  object-fit: contain;
  border: 4px solid #ffffff;
  box-shadow: 5px 5px 32px rgb(0 0 0 / 25%);
  /* margin-top: 1.25em; */
}
video.cameraShot {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
.imgBtn {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.imgBtn .mintBtn:hover {
  background: var(--default);
  color: var(--main-color);
}
.mintBtn {
  background: var(--main-color);
  color: #ffffff;
  border-radius: 39px;
  font-size: 1em;
  max-width: 15rem;
  width: 100%;
  padding: 0.675rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.799296px;
  cursor: var(--cursor-pointer);
  transition: background 0.2s ease-in-out;
  border: 1px solid var(--main-color);
}
.mintBtn.disabled {
  background: var(--outline-dark);
  color: white !important;
  pointer-events: none;
  border-color: var(--outline-dark);
}
.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.videoWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  width: 100%;
  height: calc(100vh - 5rem);
}
.videoWrapper div:first-child {
  width: 100%;
  height: 100%;
}

.videoOFF {
  width: 100%;
  height: 100%;
  background: rgba(75, 75, 90, 0.74);
  object-fit: cover;
}

.enableContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: rgb(15 29 64 / 60%);
  width: 2rem;
  height: 2rem;
  padding: 2px;
  display: flex;
  border-radius: 50%;
  cursor: var(--cursor-pointer);
  padding: 8px;
}
.closeBtn svg {
  width: 100%;
  height: 100%;
}
.closeBtn svg path {
  fill: var(--default);
}
.btnWrapper {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(15 29 64 / 60%);
  padding: 0rem 2rem;
  height: 6rem;
  width: 20em;
  border-radius: 16px;
}
.btnWrapper > div {
  cursor: var(--cursor-pointer);
  transition: background 0.2s ease-in-out;
}
.btnWrapper .uploadBtn svg {
  width: 50px;
}
.btnWrapper .uploadBtn:hover svg path {
  fill: #d9d9d9;
}
.btnWrapper .RecordBtnWrapper:hover {
  color: #d9d9d9;
}
.holdBtn {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  display: flex;
  height: fit-content;
}
.holdBtn > svg {
  height: 50px;
  width: 50px;
}
.holdBtn.active {
  position: initial;
  /* padding: 1.5rem; */
  transform: inherit;
}
.holdBtn.active .RecordBtnWrapper {
  width: 64px;
  height: 64px;
}
.holdBtn.active .recordBtn {
  width: 40px;
  height: 40px;
}
.holdBtn.recording .recordBtn {
  width: 30px;
  height: 30px;
  border-radius: unset;
}
.captureBtn {
  height: 100%;
  display: flex;
  align-items: center;
}
.captureBtn svg {
  height: 64px;
  width: 64px;
}
.captureBtn svg circle {
  transition: all 0.2s ease-in-out;
}
.captureBtn:hover svg circle {
  fill: var(--main-color);
}
.uploadBtn {
  position: absolute;
  /* display: none; */
  right: 2rem;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.switch2imgs {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: none;
}
.switch2imgs svg {
  width: 50px;
  height: auto;
}
.switch2imgs svg path {
  fill: white;
}
@media screen and (max-width: 480px) {
  .cameraWrapper {
    background: white;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 1000;
  }
  .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 1000;
    background: white;
  }
  .videoWrapper {
    height: 100vh;
    background: white;
  }
  .videoWrapper video {
    height: 100%;
  }
  .btnWrapper {
    bottom: 0rem;
    width: 100%;
    height: 7rem;
    border-radius: 0;
  }
  .switch2imgs {
    display: block;
  }
}
