.button {
  width: 100%;
  padding: 0.75em 3em;
  background: transparent;
  border: 1px solid var(--sidebar-bg);
  color: white;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 0.5em;
}

.button.invert {
  background: var(--main-accent);
  color: white;
  border: transparent;
}

.button.invert:hover {
  background: var(--main-accent-dark);
}

.button:hover {
  border-color: var(--main-accent);
}