/* Accordion */

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1em;
  padding-top: 2em;
  margin: 0 auto;
  margin-bottom: 8em;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
}

.menu {
  margin: 5rem 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
}

.left {
  width: 30%;
  max-width: 25em;
}

.right {
  width: 50%;
  max-width: 50em;
}

.fullLegnth {
  width: 100%;
  max-width: 75em;
  margin: 5rem;
}
.section1 {
  display: flex;
  /* flex-direction: column; */
}

.section {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e8eb;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.v_subsection1 {
  margin-right: 1rem;
  max-width: 20rem;
}

.nft {
  width: 100%;
  margin-bottom: 1rem;
}

.faq {
  white-space: pre-line;
  width: 100%;
  border: solid 1px #e5e8eb;
  border-radius: 10px;
}

.v_subsection2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature {
  margin-bottom: 1rem;
  border: solid 1px #e5e8eb;
  border-radius: 10px;
}

.mainDetails {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid #e5e8eb;
  display: flex;
  flex-direction: row;
  background-color: #f3f4f7;
  border-radius: 10px 10px 0 0;
}

.collectionHeader {
  display: flex;
  flex-direction: column;
}

.collectionName {
  color: #009987;
  font-size: 0.5rem;
}

.nftId {
  font-size: 1.5rem;
  font-weight: bold;
}

.icons {
  margin-left: auto;
  order: 2;
}

.icon {
  background-color: #fff;
  margin-right: 3px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #e5e8eb;
  padding: 3px;
}
.icon:hover {
  cursor: pointer;
}

.refresh {
  border-radius: 10px 0 0 10px;
}

.dots {
  border-radius: 0 10px 10px 0;
}

.priceSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.btns {
  padding-left: 1rem;
}
.priceSection .title {
  margin: 0.1rem 0;
  font-size: 13px;
  color: #707a83;
}

.price {
  display: flex;
  flex-direction: row;
}

.price img {
  width: 30px;
  margin-right: 0.3rem;
}

.tokenValue {
  font-weight: bolder;
  font-size: 25px;
  margin-right: 0.3rem;
}

.usdValue {
  /* -ms-transform: translateY(-50%); */
  transform: translateY(20%);
  top: 50%;
  font-size: 15px;
  color: #707a83;
  /* font-weight: 30px; */
}

.buy,
.bid,
.sold {
  flex-direction: row;
  margin: 1rem 0.5rem 1rem 0;
  color: white;
  padding: 0 1rem;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
}

.buy {
  background-color: var(--main-accent);
}

.bid {
  border: 1px solid var(--main-accent);
  color: var(--main-accent);
}

.sold {
  background-color: #707a83;
}

.buy img,
.bid img {
  width: 14px;
  margin-right: 3px;
}

.buy:hover,
.bid:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.attributesContainer {
  display: grid;
  grid-gap: 5px 5px;
  grid-template-columns: auto auto;
}

.attribute {
  display: flex;
  flex-direction: column;
  background-color: var(--main-accent);
  border-radius: 10px;
  padding: 1rem;
  color: white;
  width: 8.5rem;
}

.attribute .title {
  font-size: 10px;
  color: white;
}

.attribute .description {
  font-size: 15px;
  text-overflow: ellipsis;
  color: white;
}

.heading {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e8eb;
  background-color: #f3f4f7;
}

.code {
  max-height: 30em;
  overflow: scroll;
}

.tableContainer {
  max-height: 20em;
  overflow: scroll;
  overflow-x: hidden;
}
.collectionItems {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.allCollecitons {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.btnCollections {
  padding: 0 1rem;
  margin: 1rem 0.5rem 1rem 0;
  background-color: var(--main-accent);
  color: white;
  height: 30px;
  border-radius: 5px;
}

.btnCollections:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 2em;
  }

  .section1 {
    flex-direction: column;
  }
  .history {
    overflow: scroll;
  }

  .v_subsection1 {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 222rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 0.5em;
  }
  .section1 {
    flex-direction: column;
  }

  .attributesContainer {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: auto auto;
  }

  .buy {
    width: 95%;
  }

  .nftName {
    flex-direction: column;
  }
}

.share {
  position: fixed;
  width: 25rem;
  height: 7rem;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: white;
  z-index: 10000;
  border-radius: 20px;
  box-shadow: 0 0 15px gray;
}

.shareContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10rem;
  margin: 0.5em auto;
}
.shareicon {
  width: 1rem;
  margin-left: 4px;
  transition: transform 0.2s ease-in-out;
  top: -15px;
}
.shareicon:hover {
  cursor: pointer;
  animation: slidein 0.4s;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.shareIcon {
  /* border-radius: 50%; */
  width: 2rem;
  height: 2rem;
}
.copy {
  display: flex;
  flex-direction: row;
}

.textArea {
  width: 20rem;
}
.copy input {
  display: block;
  width: 100%;
  padding: 0.25em;
  resize: none;
  border: 1px solid gainsboro;
  border-radius: 0.25em;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row {
  border-bottom: 1px solid #707a83;
}

.row span {
  float: right;
}
