.container {
  width: 100%;
  margin-bottom: 4em;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  margin: auto;
  padding: 2em;
  background: var(--card-bg2);
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  padding-bottom: 4em;
}

.heading {
  font-size: 3.6em;
  color: #eee9db;
}

.heading span {
  color: var(--main-accent);
}

.description {
  max-width: 24em;
  color: white;
  text-align: left;
  font-size: 1.2rem;
}

.pageLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.createBtn,
.mintBtn {
  outline: none;
  padding: 1em 4em;
  font-size: 0.85rem;
  border-radius: 0.5em;
  cursor: pointer;
  border: 2px solid transparent;
  color: white;
  transition: all 200ms;
  font-size: 1rem;
}

.createBtn {
  background: var(--main-accent);
}

.createBtn:hover {
  background: var(--main-accent-dark);
}

.mintBtn {
  background: transparent;
  border: 1px solid var(--main-accent);
}

.mintBtn:hover {
  background: #171a1d;
}

.imageContainer {
  width: 42vw;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .imageContainer {
    width: 40vw;
  }
  .heading {
    font-size: 4vw;
  }
}

@media screen and (max-width: 900px) {
  .imageContainer {
    width: 48vw;
  }

  .heading {
    font-size: 4vw;
  }

  .description {
    font-size: 1rem;
  }

  .createBtn,
  .mintBtn {
    padding: 0.75em 3em;
  }
}

@media screen and (max-width: 768px) {
  .innerContainer {
    flex-direction: column-reverse;
    align-items: center;
    padding: 3em 1em;
  }

  .imageContainer {
    margin-bottom: 2em;
    width: 72vw;
  }

  .heading {
    font-size: 2.5rem;
  }

  .bannerText {
    padding-bottom: 3em;
  }
}

@media screen and (max-width: 480px) {
  .imageContainer {
    width: 100%;
  }

  .heading {
    font-size: 2rem;
  }

  .pageLinks {
    width: 100%;
    justify-content: center;
    gap: 1em;
  }

  .pageLinks button {
    flex: 1;
  }

  .bannerText {
    padding: 0 1em;
    padding-bottom: 2em;
  }
}
