.container {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--text-light-700);
}

.answer,
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  white-space: pre-line;
}

.question {
  cursor: pointer;
  padding: 1em 0;
  font-weight: 600;
  transition: all 300ms;
}

.question.active {
  color: var(--main-700);
}

.question img {
  width: 1.4em;
}

.title {
  text-transform: capitalize;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 1250ms;
}

.answer a {
  color: var(--main-700);
}

.answer.active {
  max-height: 100vh;
}

.container p {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .answer,
  .question {
    gap: 1em;
  }
}
