.container {
  flex: 1;
  /* border: 1px solid red; */
  border-radius: 0.25em;
  min-height: 100vh;
}

.displayWrapper {
  /* border: 1px solid red; */
  /* border: 1px solid var(--card-outline); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-items: center;
  /* padding: 0 1em; */
}

@media screen and (max-width: 1280px) {
  .displayWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1020px) {
  .displayWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .displayWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
