.container {
  width: 100%;
  margin-bottom: 8em;
  padding: 0 4em;
}

.heading {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: var(--text-heading);
}

.heading span {
  color: var(--main-color);
}

.description {
  width: 100%;
  max-width: 32em;
  margin: 0 auto;
  margin-bottom: 3em;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-sub-heading);
}

.card {
  width: 20em;
  min-height: 28em;
  border-radius: 0.75em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  background: var(--default);
  border: 1px solid #e5e8eb;
  box-shadow: var(--shadow-light);
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.card:hover {
  box-shadow: var(--shadow-dark);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.icon {
  width: 1.4em;
  height: 1.4em;
}

.date {
  font-size: 0.65rem;
}

.domain {
  font-size: 0.65rem;
}

.banner {
  width: 100%;
  height: 10em;
}

.content {
  width: 100%;
  height: 8em;
  font-size: 0.95rem;
}

.line {
  background: #c4c4c4;
  width: 100%;
  height: 0.75px;
  margin-top: auto;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.thumbnail {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.name {
  width: 100%;
  max-width: 16em;
  font-size: 0.85rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.handle {
  width: 100%;
  font-size: 0.75rem;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 2em;
  }

  .heading {
    font-size: calc(1rem + 2vmin);
  }

  .description {
    font-size: 1rem;
  }

  .container {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 1em;
  }
}
