.form {
  width: 100%;
  background: transparent;
  margin-bottom: 0.25em;
}

.form input {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1rem;
  padding: 0.25em;
  color: var(--text-dark-900);
  background: var(--main-bg);
  outline: none;
  border-radius: 0.25em;
  border: 1px solid var(--card-bg);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.buttons button {
  background: var(--main-bg);
  color: var(--text-dark-900);
  outline: none;
  padding: 0.25em 1.5em;
  border-radius: 0.25em;
  cursor: var(--cursor-pointer);
  transition: all 0.3s;
  border: 1px solid var();
}

.buttons button:first-child {
  background: var(--text-dark-700);
  color: var(--main-bg);
}

.buttons button:hover {
  outline: 1px solid var(--main-700);
}

.buttons button:first-child:hover {
  background: var(--text-dark-900);
}
