.container {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 6em;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 1em;
}

.heading h3 {
  font-size: 2rem;
  font-weight: 600;
}

.card {
  width: 10em;
  height: 12em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border: 1px solid transparent;
}

.card img {
  width: 3em;
}

@media screen and (max-width: 900px) {
  .heading h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }

  .heading p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .heading {
    padding: 0 1em;
  }
}
