.container {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 6em;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  max-width: 38em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.heading h3 {
  font-size: 2rem;
  font-weight: 600;
}

.heading p {
  font-size: 1.2rem;
}

.card {
  width: 10em;
  height: 12em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
  transition: all 300ms;
}

.card img {
  width: 3em;
}

.card:hover {
  box-shadow: var(--shadow-light-8);
}

.card.inActive:hover .soon {
  font-size: 1rem;
  transform: translateY(-3.25em);
}

.soon {
  font-size: 0.75rem;
  position: absolute;
  bottom: 1em;
  transition: all 300ms;
}

@media screen and (max-width: 900px) {
  .heading h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }

  .heading p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .heading {
    padding: 0 1em;
  }
}
