.container {
  width: 100%;
  padding: 0 4em;
  margin-bottom: 6em;
}

.wrapper {
  width: 100%;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  gap: 1em;
  margin: 0 auto;
  color: var(--main-color);
  background: var(--main-lightest);
}

.wrapper p {
  line-height: 1.5em;
  color: var(--text-sub-heading);
}

.wrapper svg {
  width: 1.2em;
  transition: 300ms;
  fill: var(--main-color);
}

.wrapper:hover svg:last-child {
  transform: translateX(25%);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2em;
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 0 1em;
  }

  .wrapper svg {
    width: 2em;
    transition: 300ms;
  }

  .wrapper p {
    font-size: 0.85rem;
  }
}
