:root {
  --page-gray: #6c757d;
  --btnInactive: #0d9aff57;
  --btnActive: #0d99ff;
}

.wrapper {
  /* width: 100%; */
  border: 1px solid var(--card-outline);
  border-radius: 0.5em;
  padding: 1em;
}
.aiMain {
  display: grid;
  max-width: 1080px;
  margin: 0 auto;
  padding: 4em 0px;
  /* width: 100vw;
  align-items: center;
  padding: 6em;
  grid-template-columns: 3fr 2fr;
  gap: 3em; */
  align-items: center;
  --auto-grid-min-size: 26rem;
}

.aiMain > * {
  max-width: 400px;
}

.aiMain > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  .aiMain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 2fr));
    gap: 1.5rem;
    /* justify-items: center; */
    padding: 4em 2em;
    margin: 0 auto;
  }

  .aiMain > * {
    /* max-width: 80%; */
    max-width: unset;
  }

  .aiMain > * + * {
    margin-top: unset;
  }
}

.aiLeft {
  flex: 3;
  align-items: center;
  justify-content: center;
}

.aiTextInput {
  outline: none;
}

.promptForm {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
}

.promptFormTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.artStyleSection {
  display: none;
}

.createImageBtn {
  display: flex;
  font-size: 24px;
  background-color: var(--btnInactive);
  color: #fff;
  border: transparent;
  padding: 0.5em 1em;
  border: none;
  margin: 0 auto;
}

.createImageBtn:focus,
.createImageBtn:hover,
.createImageBtn:active {
  background-color: var(--btnActive);
  outline: none;
}

.previewSizeForm {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
  align-content: center;
}
.imageSizeSection,
.sizesMain,
.imageSizeSection > label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 10px;
}
.imageSizeSection {
  margin: 1em 0;
  display: flex;
  color: var(--page-gray);
}
.sizesMain {
  column-gap: 0.6em;
}

.aiPreviewHeading {
  font-size: 24px;
}

.sizeLabel,
.sizeInWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sizeLabel {
  align-items: center;
  column-gap: 0.6em;
}
.sizeInWrapper {
  padding: 0.3em 0.4em;
  border: 1px solid var(--card-outline);
  border-radius: 0.5em;
  width: 57px;
}
.sizeInWrapper span {
  border-left: 1px solid var(--card-outline);
  padding: 0 0.4em;
  font-weight: 600;
}
.sizeInput {
  border: none;
  width: 30px;
  outline: none;
  font-size: 10px;
  color: var(--page-gray);
}
.artPreview {
  background-color: #d3d9eb;
  border-radius: 0.5em;
  height: 60vh;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.imageDownloadBtn {
  display: flex;
  align-items: center;
  background-color: #eff3f9;
  justify-content: center;
  align-self: center;
  margin: 10px auto;
  column-gap: 0.6em;
  padding: 0.4em 0.8em;
  font-size: 16px;
  color: #0f1d40;
  border: transparent;
}
.imageDownloadBtn:first-child {
  height: 10px;
  width: 10px;
}
