.container {
  width: 100%;
  margin-bottom: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4em;
  background: var(--main-lightest);
}

.container * {
  transition: max-width 300ms;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 500;
}

.heading span {
  color: var(--main-color);
}

.description {
  text-align: center;
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 1.2rem;
  color: var(--text-sub-heading);
  padding: 0 1em;
  line-height: 1.5em;
}

.card {
  width: 18em;
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  transition: transform 300ms;
  margin-bottom: 0.5em;
}

.card:hover img {
  transform: scale(1.01);
}

.card .name {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .heading {
    font-size: calc(1rem + 2vmin);
  }

  .heading span {
    white-space: nowrap;
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2em;
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 2em 0;
  }
}
