.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.menu.resize {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }

  .menu.resize {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu.resize {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .menu.resize {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .menu,
  .menu.resize {
    grid-template-columns: repeat(1, 1fr);
  }
}
