.card {
  width: 100%;
  /* max-width: 18em; */
  border-radius: 0.5em;
  background: white;
  transition: all 250ms;
  border: 1px solid gainsboro;
  overflow: hidden;
}

.card:hover {
  box-shadow: 4px 4px 4px gainsboro;
  transform: translateY(-5px);
  cursor: pointer;
}

.imageContainer {
  background: rgba(0, 0, 0, 0.05);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 12em;
}

.body {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0.5em;
  padding-top: 3em;
  padding-bottom: 1em;
}

.thumbnail {
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  background: white;
  box-shadow: 0 0 15px gainsboro;
}

.thumbnail img {
  width: 100%;
  border-radius: 50%;
}

.name {
  margin-bottom: 1em;
}

.description {
  text-align: center;
  margin-bottom: 2em;
  height: 4em;
}

.usdPrice {
  font-size: 0.7rem;
  font-weight: lighter;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.floor {
  font-size: 0.65em;
  font-weight: bold;
  color: rgba(173, 181, 189, 1);
}

.price {
  color: var(--main-accent);
  font-weight: bold;
}

.chain {
  font-weight: 300;
  font-size: 0.85em;
}

.nOfNfts {
  padding: 0.5em 1.5em;
  background: var(--main-accent);
  color: white;
  border-radius: 1em;
}
