.card {
  width: 100%;
  border-radius: 0.5em;
  border: 1px solid var(--outline);
  transition: all 300ms;
  max-width: 32em;
  height: 28rem;
}

.card:hover {
  cursor: var(--cursor-pointer);
  transform: translateY(-5px);
  box-shadow: var(--shadow-dark);
}

.imageContainer {
  width: 100%;
  padding: 0.5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16em;
  border-bottom: 1px solid var(--outline);
}

.creator {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}
.creator img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}
.creatoAddress {
  flex-direction: column;
}

.address {
  color: var(--main-color);
}

.imageContainer img {
  object-fit: cover;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.cardBody {
  width: 100%;
  padding: 0.5em;
  margin-top: 2px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.collectionName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chainIcon {
  width: 2em;
  margin-right: 0.5em;
}
.listPrice {
  margin-top: 15px;
}

.is1of1 {
  background-color: var(--card-bg-light2);
  border-radius: 8px;
  padding: 0.3em 0.5em;
  overflow: auto;
}

.nftName {
  font-weight: 600;
  font-size: 19.8px;
}

.collection {
  background-color: var(--main-light);
  border-radius: 8px;
  padding: 0.3em 0.5em;
  overflow: auto;
}
.usdPrice {
  font-size: 0.7rem;
  font-weight: lighter;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-top: 1px solid var(--outline);
  margin-top: 15px;
}

.list {
  font-weight: 500;
  color: gray;
  font-size: 0.75rem;
}

.price {
  color: var(--main-color);
  font-weight: bold;
}
.price img {
  transform: translateY(20%);
  margin-right: 10px;
  width: 25px;
}
.chain {
  font-size: 0.75rem;
}

.notListed {
  font-size: 1rem;
  padding: 0.65em 1em;
  margin-top: 1.5em;
  border-radius: 2em;
  background: var(--main-color);
  color: white;
  transition: all 300ms;
}

.button {
  font-size: 1rem;
  padding: 0.65em 1.5em;
  border-radius: 2em;
  background: var(--main-color);
  color: white;
  transition: all 300ms;
}

.button:hover {
  background: var(--main-hovered);
  outline: 2px solid var(--main-color);
}
.buttonSold {
  background-color: #707a83;
  cursor: var(--cursor-default);
}
.buttonSold:hover {
  cursor: var(--cursor-hover);
  background: #707a83;
  outline: none;
}

.description {
  margin-top: 1em;
  height: 3em;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-light);
  font-size: 14px;
}
.nftCount {
  background-color: var(--btn-bg);
  border-radius: 1em;
  padding: 0.3em 0.5em;
}
