.container {
  width: 100%;
  margin-bottom: 4em;
  padding: 2em;
  border-radius: 1em;
  background: white;
  box-shadow: 0 0 15px gainsboro;
}

.heading {
  margin-bottom: 1em;
}

.heading {
  font-size: 2rem;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

.videoContainer {
  width: 100%;
  max-width: 36em;
  height: 24em;
  flex: 1;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  overflow: hidden;
}

.videoContainer video {
  width: 100%;
  height: 100%;
}

.operations {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.card {
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
  border: 1px solid #cecece;
  padding: 1em;
  border-radius: 1em;
  transition: all 300ms;
  cursor: default;
}

.card:hover {
  background: #f8f8f8;
}

.label {
  color: var(--main-accent);
  align-self: flex-end;
  bottom: 0;
}

.operation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

@media screen and (max-width: 1200px) {
  .videoContainer {
    max-width: 28em;
  }

  .wrapper {
    gap: 2em;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  .videoContainer {
    max-width: 100%;
    flex: auto;
  }

  .operations {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .videoContainer {
    height: 16em;
  }

  .container {
    padding: 1em;
  }

  .operations {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 480px) {
  .videoContainer {
    height: 12em;
  }

  .heading {
    font-size: 1.2rem;
  }
}
