.container {
  width: 100%;
  padding: 2em 1em;
  background: white;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 2em 4em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px gainsboro;
}

.heading {
  margin-bottom: 2em;
}

.wallet {
  background: white !important;
  border: 1px solid var(--main-accent) !important;
  font-size: 1rem;
  font-weight: bold;
  transition: all 300ms;
}

.option {
  width: 100%;
  margin-bottom: 2em;
}

.option h3 {
  margin-bottom: 0.5em;
}

.option p {
  margin-bottom: 0.25em;
  font-size: 0.85rem;
}

.warn {
  color: rgb(255, 38, 0) !important;
  display: none;
}

.warn.active {
  display: block;
  margin: 0.5em 0;
}

.option label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 0.5em;
}

.option label div {
  font-weight: bold;
}

.option input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid gainsboro;
  background: rgb(236, 236, 236);
  transition: all 300ms;
  outline: 2px solid transparent;
}

.option input:focus {
  background: white;
  outline: 1px solid var(--main-accent);
}

.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5em;
  margin-top: 2em;
}

.buttons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1em;
}

.submit,
.cancel {
  padding: 0.75em 2.5em;
  border-radius: 0.5em;
  font-size: 1rem;
  transition: all 300ms;
}

.submit {
  background: var(--main-accent);
  border: 2px solid transparent;
  color: white;
}

.submit:hover {
  background: var(--main-accent-dark);
  border: 2px solid var(--main-accent);
}

.cancel {
  border: 2px solid var(--main-accent);
}

.cancel:hover {
  background: var(--main-hover);
}

.toggleButton {
  background: gainsboro;
  display: inline-block;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1em;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
  transition: all 300ms;
}

.toggleButton.active {
  background: var(--main-accent);
  border: 1px solid transparent;
}

.toggleButton.active .toggle {
  transform: translateX(23px);
  background: white;
}

.toggleButton .toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 300ms;
  background: white;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    padding: 2em;
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 480px;
  }

  .social {
    gap: 1em;
  }
}

@media screen and (max-width: 480px) {
  .submit,
  .cancel {
    padding: 0.5em 2em;
    border-radius: 0.5em;
    font-size: 0.85rem;
    transition: all 300ms;
  }
}
