.sidebar {
  border-right: 1px solid gainsboro;
  width: 100%;
  max-width: 20em;
  position: sticky;
  top: 5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.sideOverflowWrapper {
  width: 100%;
  height: calc(100vh - 5.5em);
  overflow: auto;
}

.filterHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
  transition: all 300ms;
}

.filterHeading:hover {
  background: var(--main-hover);
}

.filterHeading > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.filterHeading span {
  color: var(--main-accent);
}

.attributeFilter .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  border-bottom: 2px solid gainsboro;
  border-top: 2px solid gainsboro;
}

.statusFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 1.5em;
}

.toggleButton {
  background: gainsboro;
  display: inline-block;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.75em;
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
  transition: all 300ms;
}

.toggleButton.active {
  background: white;
  border: 1px solid gainsboro;
}

.toggleButton.active .toggle {
  transform: translateX(23px);
  background: var(--main-accent);
}

.toggleButton .toggle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 300ms;
  background: white;
}

.priceFilter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.priceFilter .filterInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.priceFilter .filterInput input {
  padding: 0.75em;
  border-radius: 0.5em;
  border: 1px solid gainsboro;
}

.priceFilter > div {
  width: auto;
  flex: 1;
}

.priceFilter input {
  width: 100%;
}

.priceFilter button {
  background: var(--main-accent);
  color: white;
  padding: 1em;
  border-radius: 0.25em;
  transition: all 300ms;
}

.priceFilter button:hover {
  background: var(--main-accent-dark);
  outline: 2px solid var(--main-accent);
}

.attributeFilter .title {
  cursor: pointer;
}

.attribute {
  max-height: 0em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.attribute.active {
  max-height: 1000vh;
  padding: 1em;
  overflow: auto;
}

.layerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.25em;
  border: 1px solid gainsboro;
}

.layerIcon {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.layerIcon img {
  transform: rotate(0deg);
}

.layerIcon.active img {
  transform: rotate(180deg);
}

.layer {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  border-radius: 0.25em;
  background: gainsboro;
}

.layer.active {
  max-height: 10em;
  overflow: auto;
  visibility: visible;
  transform: translateY(4px);
}

.layer > div {
  border: 1px solid white;
  padding: 0.5em 0.25em;
}

.layer > div:hover {
  background: gray;
}

.value {
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.statusIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.15em;
  background: rgb(161, 160, 160);
}

.sidebar2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 5.5em);
  border-right: 1px solid gainsboro;
  position: sticky;
  top: 5em;
  cursor: pointer;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  overflow: hidden;
}

.sidebar2 img {
  width: 100%;
  padding: 1em;
  transition: all 300ms;
}
.valuesOfAttr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar2 img:hover {
  background: var(--main-hover);
}

@media screen and (max-width: 768px) {
  .sidebar,
  .sidebar2 {
    display: none;
  }
}
