.priceDropdown {
  z-index: 1 !important;
  /* color: var(--main-700); */
}

.priceDropdown {
  position: relative;
  width: 12em;
  background: var(--main-bg);
  z-index: 10;
}

.priceDropdown span {
  font-size: 0.85rem;
}

.selectedPrice {
  cursor: var(--cursor-pointer);
  background: var(--main-bg);
  border: 1px solid var();
  border: 1px solid var(--main-700);
  padding: 0.5em 1em;
  z-index: 99;
  border-radius: 2.5em;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 0.5em;
}

.selectedPrice span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedPrice:hover {
  background: var(--text-light-300);
}

.selectedPrice {
  color: var(--main-700);
}

.priceDropdown .dropdown {
  width: 100%;
  left: 0;
  position: absolute;
  background: var(--main-bg);
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  cursor: var(--cursor-pointer);
  transform: translateY(-0.5em);
  text-transform: capitalize;
}

.priceDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  margin-top: 0.25em;
  transform: translateY(0em);
}

.priceDropdown .dropdown > div {
  padding: 0.5em 1em;
  border: 1px solid var(--text-light-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.priceDropdown .priceInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 0.55rem;
}

.priceDropdown .dropdown > div:hover {
  background: var(--text-light-300);
}

.dropdownIcon {
  transition: all 250ms;
}

.dropdownIcon.active {
  transform: rotate(180deg);
}
