.container {
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 4em;
  background: #E5E5E5;
}

.innerContainer {
  max-width: 1440px;
  margin: 0 auto;
  background: white;
  padding: 2em; 
  border-radius: 1em;
}

.header {
  width: 100%;
  margin-bottom: 2.5em;
}

.header h1 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1em;
}

.searchAndPriceFilter {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

.searchAndPriceFilter input {
  width: 100%;
  flex: 1;
  padding: 0.5em;
  transition: all 300ms;
  border-radius: 0.25em;
  border: 1px solid gainsboro;
  outline: 1px solid transparent;
}

.searchAndPriceFilter input:focus {
  outline: 1px solid gray;
}

.priceDropdown {
  position: relative;
  width: 12em;
  background: white;
  border-radius: 0.25em;
  z-index: 10;
}

.selectedPrice {
  cursor: pointer;
  background: white;
  color: #000000;
  border: 1px solid gainsboro;
  padding: 0.5em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 1em;
}

.selectedPrice span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedChain {
  display: flex;
  padding: 0.25em 0.5em;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: pointer;
}

.selectedChain:hover {
  background: rgb(240, 240, 240);
}

.selectedChain > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedPrice:hover {
  background: rgb(240, 240, 240);
}

.priceDropdown .dropdown{
  width: 100%;
  left: 0;
  position: absolute;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: translateY(-0.5em);
  text-transform: capitalize;
}

.priceDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0em);
}

.priceDropdown .dropdown > div {
  padding: 0.5em;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.priceDropdown .dropdown > div:hover {
  background: rgb(240, 240, 240);
}

.priceDropdown .dropdown > div:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.dropdownIcon {
  transition: all 250ms;
}

.dropdownIcon.active {
  transform: rotate(180deg);
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2em;
}

.skeleton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.noResult {
  width: 100%;
  height: 12em;
  text-transform: capitalize;
}

@media screen and (max-width: 1200px) {
  .wrapper, .skeleton {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .wrapper, .skeleton {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 540px) {
  .searchAndPriceFilter {
    flex-direction: column;
    gap: 0.5em;
  }

  .priceDropdown {
    width: 100%;
  } 

  .wrapper, .skeleton {
    grid-template-columns: repeat(1, 1fr);
  }
}
