.container {
  /* padding: 1em; */
  /* padding-top: 2em; */
  padding-bottom: 4em;
  background: var(--default);
}

.wrapperContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2em; */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding-top: 1em;
  font-size: 63px;
  font-weight: 700;
  color: var(--text-heading);
  width: 20em;
  text-align: center;
}

.subTitle {
  font-size: 24px;
}

.innerContainer > input {
  display: none;
}

.header {
  width: 100%;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.searchAndNavWrapper {
  display: flex;
  gap: 1.5em;
  margin: 2em 0;
}

.search {
  width: 40em;
}

.searchAndFilter {
  display: flex;
  padding: 0.5em;
  border: 1px solid var(--card-outline);
  border-radius: 30px;
  margin-bottom: 2em;
}

.btn {
  border-radius: 30px;
  padding: 0.5em 2em;
  margin-right: 1em;
  color: var(--text-dark-400);
}

.btn:hover {
  cursor: pointer;
  color: var(--main-hovered);
}
.active {
  border: 1px solid #1c1b1c1a;
  background-color: var(--tab-bg-2);
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.skeleton {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  z-index: 0;
}

.skeleton * {
  z-index: 0;
}

.noResult {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  text-align: center;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  margin-top: 2em;
}

.pagination img {
  margin: 0 1em;
}

.pagination img:hover {
  cursor: pointer;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.right input {
  width: 3em;
  height: 2em;
  padding: 1em;
}

.greyText {
  color: var(--text-light);
}

.go {
  color: var(--main-color);
}

.go:hover {
  color: var(--main-hovered);
  cursor: pointer;
}

.activePage {
  border: 1px solid var(--main-color);
  padding: 0.5em;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  .wrapper,
  .skeleton {
    grid-template-columns: repeat(4, 1fr);
  }

  .wrapperContainer {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper,
  .skeleton {
    grid-template-columns: repeat(3, 1fr);
  }
  .searchAndNavWrapper {
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }
  .searchAndFilter {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .wrapper,
  .skeleton {
    grid-template-columns: repeat(3, 1fr);
  }

  .header h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper,
  .skeleton {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .searchAndNavWrapper,
  .pagination {
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
  }

  .searchAndFilter {
    display: none;
  }
  .searchAndFilter > div,
  .search {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .wrapper,
  .skeleton {
    grid-template-columns: repeat(1, 1fr);
  }

  .innerContainer {
    padding: 2em 1em;
  }
}
