.container {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 6em 8em;
  background: var(--default);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  border-radius: 0.5em;
  position: relative;
}

.card img {
  width: 8em;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
}
