.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.connect {
  width: 100%;
  padding: 0.5em 1.5em;
  border-radius: 0.35em;
  cursor: pointer;
  background: var(--card-bg);
  color: white;
  text-align: center;
}

.connected {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  color: white;
  cursor: pointer;
  position: relative;
  background: var(--main-accent);
  transition: all 300ms;
  padding: 0.25em 0.25em;
  border-radius: 2em;
}

.connected:hover {
  background: var(--main-accent-dark);
}

.user {
  border: 1px solid var(--main-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.25em;
  cursor: pointer;
}

.user img {
  width: 1em;
  height: 1em;
}

.chain {
  min-height: 1.5em;
  min-width: 1.5em;
  align-self: stretch;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
}

.chain:hover {
  background: #c9fff7;
  transition: all 300ms;
}

.chain img {
  width: 100%;
}

.address {
  flex: 1;
  color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  position: relative;
}

.network {
  font-size: 0.85rem;
}

.dropdown {
  width: 100%;
  min-width: 16em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: white;
  position: absolute;
  top: 2em;
  right: 0;
  color: black;
  border-radius: 0.5em;
  border: 1px solid var(--main-accent);
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 5px gainsboro;
  transition: all 300ms;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  top: 2.5em;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  transition: all 300ms;
}

.option:hover {
  background: var(--main-hover);
}

.option div {
  white-space: nowrap;
}
