.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.connect {
  width: 100%;
  padding: 0.5em 1.5em;
  border-radius: 0.35em;
  cursor: pointer;
  background: var(--card-bg);
  color: white;
  text-align: center;
}

.connected {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  position: relative;
}

.user {
  align-self: stretch;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5em;
  background: #EAFFFC;
  border: 1px solid var(--main-accent);
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

.user:hover {
  background: #c9fff7;
  transition: all 300ms;
}

.user img {
  width: 0.85em;
}

.address {
  flex: 1;
  padding: 0.5em;
  background: var(--main-accent);
  color: var(--main-bg);
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  position: relative;
}

.network {
  font-size: 0.85rem;
}

.address:hover {
  background: var(--main-accent-dark);
}

.dropdown {
  width: 100%;
  min-width: 16em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: white;
  position: absolute;
  top: 2em;
  right: 0;
  color: black;
  border-radius: 0.5em;
  border: 1px solid var(--main-accent);
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 5px gainsboro;
  transition: all 300ms;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  top: 2.5em;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  transition: all 300ms;
}

.option:hover {
  background: var(--main-hover);
}

.option div {
  white-space: nowrap;
}


