.lp{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    margin-left: 12vw;
}
.creators {
    display: flex;
    justify-content: space-around;
    width: 44vw;
    height:34vh;
    border-radius: 5px;
    border: 1px #adadad solid;
}
.collectors{
    display: flex;
    justify-content: space-around;
    width: 38vw;
    height:26vh;
    border-radius: 5px;
    border: 1px #adadad solid;
}
.connect{
    text-align: center;
    width: 22vw;
    height:8vh;
    border: 4px white solid;
}
.right{
    position: relative;
    bottom: 200px;
   
    height: 54vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; 
   
}
#cc-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}
.cc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px #00CC9B solid  ;
    border-radius: 20px;
    background-color: #27292C ;
    width: 400px;
    height: 60px;
   
}
.creator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.collector-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center; 
}
h1{
    color : white 
}