span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.begining {
  display: inline-block;
  width: calc(25% + 1em);
  text-overflow: ellipsis;
}

.end {
  display: inline-flex;
  width: calc(76% - 10.2em);
}

tr img {
  border-radius: 50%;
  padding: 0.2em;
  width: 1.7em;
  margin-right: 5px;
  background-color: rgba(0, 153, 135, 0.12);
}

.transaction:hover {
  cursor: var(--cursor-pointer);
}
