span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.begining {
  display: inline-block;
  width: calc(25% + 1em);
  text-overflow: ellipsis;
}

.end {
  display: inline-flex;
  width: calc(76% - 10.2em);
}
.transaction span {
  display: inline-block;
  width: fit-content;
  align-items: center;
}
.transaction img {
  border-radius: 50%;
  padding: 0.2em;
  width: 1.7em;
  margin-right: 5px;
}

.transaction:hover {
  cursor: var(--cursor-pointer);
}
