.container {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  background: rgba(0, 0, 0, 0.089);
  color: var(--icon-color);
  padding: 0.5em;
  border-radius: 0.25em;
}

.heading {
  /* border: 1px solid red; */
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.layersContainer {
  width: 100%;
}

.layers {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}

.layer {
  cursor: pointer;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layer i {
  color: var(--icon-color);
}

.attributes {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-left: 1em;
  transition: all 250ms 50ms;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5em;
}

.attribute {
  background: var(--card-bg);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
  padding: 0.25em 0.5em;
}

.attribute img {
  width: 2em;
  height: 2em;
}

.icon {
  /* border: 1px solid red; */
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--sidebar-bg);
  padding: 0.75em;
}

.icon * {
  font-size: 10px;
}
