.container {
  width: 20em;
  position: sticky;
  top: 5em;
  border: 1px solid var(--text-light-500);
  border-radius: 0.5em;
  padding: 1em 0;
  height: calc(100vh - 8em);
  z-index: 15;
  overflow: auto;
  box-shadow: 26px 49px 27px rgba(93, 134, 194, 0.1);
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container i {
  font-size: 14px;
  padding: 0 0.5em;
}

.collectionNameContainer {
  padding: 1em;
  border-bottom: 1px solid var(--text-light-500);
  margin-bottom: 1em;
}

.collectionName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: white;
  background: var(--card-bg);
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.collectionName form {
  flex: 1;
  height: 100%;
  display: flex;
}

.collectionName input {
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid transparent;
  margin-right: 0.5em;
  color: white;
}

.collectionName input::placeholder {
  color: var(--text-light-500);
}

.editBtn {
  cursor: var(--cursor-pointer);
  padding: 0.1em;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--card-bg);
  transition: all 300ms;
}

.editBtn:hover {
  background: var(--card-bg-light);
}

.editBtn img {
  width: 100%;
}

.nameHeader {
  width: 90%;
  word-wrap: break-word;
  text-align: left;
  font-size: 1rem;
  white-space: nowrap;
  overflow: auto;
}

.info {
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background: rgb(181, 188, 255, 0.28);
}

.info p {
  color: #7e7f81;
  font-size: 0.75rem;
}

.info .closeBtn {
  fill: var(--bg-dark);
  width: 2em;
  cursor: var(--cursor-pointer);
}

.layerorder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: var(--main-bg);
}

.layerHeadWrapper {
  width: 100%;
}

.layer_trait {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  padding-right: 2em;
  text-transform: capitalize;
  background: var(--text-light-300);
  color: var(--main-color);
  margin-bottom: 1em;
  border-radius: 0.25em;
}

.listWrapper {
  width: 100%;
  padding: 0.25em 1em;
}

.list {
  width: 100%;
  min-height: 12em;
  height: calc(100vh - 23.5em);
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.list.active {
  height: calc(100vh - 29.5em);
}
.list > div {
  cursor: var(--cursor-hover);
}
.list > div:active:hover {
  cursor: var(--cursor-grab);
}
.promptWrapper {
  width: 100%;
}

.addBtnContainer {
  position: relative;
}

.addBtn {
  width: 100%;
  background: var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--main-700);
  padding: 0.75em;
  border-radius: 4em;
  font-size: 1rem;
  transition: all 300ms;
  border: 1px solid var(--main-700);
}

.addIcon {
  fill: var(--main-700);
  width: 1.2em;
  height: 1.2em;
}

.addBtn:hover {
  background: var(--text-light-200);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    position: static;
  }
}
