.container {
  width: 20em;
}

.container * {
  color: white;
}

.nameHeader {
  width: 100%;
  padding: 1em 1em 0em 1em;
  margin-bottom: 1em;
}

.layerHeadWrapper {
  width: 100%;
  background: var(--card-bg);
}

.layerorder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background:  var(--main-bg);
  border-radius: 0.5em;
  overflow: hidden;
}

.layerorderHeader {
  width: 100%;
  padding: 1em 2em;
}

.line {
  width: 100%;
  height: 2px;
  background: white;
  margin: 0.5em 0;
}

.layer_trait {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 1.5em 1em;
  text-transform: capitalize;
}

.list {
  width: 100%;
  min-height: 4em;
  max-height: 20em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.promptWrapper {
  width: 100%;
  background: var(--card-bg);
}

.layerWrapper {
  padding: 0.5em 1em;
}

.layerWrapper.even {
  background: var(--main-bg);
}

.layerWrapper.odd {
  background: var(--card-bg);
}

.addBtn {
  width: 100%;
  background:  #151616;
  border: none;
  cursor: pointer;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.addBtn *:first-child {
  transition: all 0.3s;
}

.addBtn:hover *:first-child {
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}