.container {
  width: 100%;
  margin-bottom: 4em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.heading span {
  color: var(--main-700);
}

.description {
  width: 100%;
  text-align: center;
  max-width: 36em;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 2em;
}

.orgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.bgIcons {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  top: 0;
  left: 0;
}

.orgs > img {
  width: 12em;
}

.bgIcons img {
  width: 6em;
  margin-top: -4em;
}

.bgIcons img:first-child {
  margin-right: 12em;
}

.bgIcons img:last-child {
  margin-left: 12em;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: calc(1rem + 2vmin);
  }

  .heading span {
    white-space: nowrap;
  }

  .bgIcons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 4em;
  }

  .orgs img {
    width: 8em;
  }

  .bgIcons img {
    width: 4em;
  }

  .description {
    font-size: 1rem;
  }
}

.org:hover {
  cursor: pointer;
  transform: scale(1.02);
}
