.container {
  width: 100%;
  margin-bottom: 4em;
  position: relative;
  padding-bottom: 10em;
  padding-top: 4em;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.heading span {
  color: var(--main-accent);
}

.description {
  width: 100%;
  text-align: center;
  max-width: 36em;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 2em;
}

.orgs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

.bgIcons {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  top: 0;
  left: 0;
}

.orgs > img {
  width: 12em;
}

.bgIcons img {
  width: 6em;
}

.bgIcons img:first-child {
  align-self: flex-start;
}

.bgIcons img:last-child {
  align-self: flex-end;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: calc(1rem + 2vmin);
  }

  .heading span {
    white-space: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 5em;
    margin-bottom: 3em;
  }

  .orgs img {
    width: 8em;
  }

  .bgIcons img {
    width: 4em;
  }

  .description {
    font-size: 1rem;
  }
}

.org:hover {
  cursor: pointer;
  transform: scale(1.02);
}
