.container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em 1em;
  padding-bottom: 6em;
  z-index: 10;
}

.headingWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.heading {
  color: var(var(--text-dark-800));
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.description {
  color: var(var(--text-dark-800));
  font-size: 1rem;
  text-align: center;
}

.description > span {
  color: var(--main-color);
  position: relative;
  line-height: 2em;
}

.description > span img {
  position: absolute;
  width: 100%;
  bottom: -0.25em;
  left: 0;
}

.mintSwitch {
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  background: var(--card-light);
  padding: 0.25em;
  gap: 0.5em;
}

.mintSwitch > button {
  width: 10em;
  border-radius: 2em;
  padding: 0.5em 0;
  font-size: 1rem;
  background: var(--card-light);
  color: var(--text-heading);
  transition: all 300ms;
}

.mintSwitch > button:hover {
  background: var(--default);
  color: var(--main-color);
}

.mintSwitch > button.active {
  background: var(--main-color);
  color: var(--default);
}

.mintSwitch > button.active:hover {
  background: var(--main-color);
  color: var(--default);
  margin: unset;
}

.cardPlaceholder {
  width: 100%;
  height: 21em;
}

.card {
  width: 100%;
  max-width: 36em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
  border: 2px dashed var(--main-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 300ms;
}

.card:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.card.collection {
  animation: slide-left 850ms forwards;
  transform: translateX(2%);
}

.card._1of1 {
  animation: slide-right 850ms forwards;
  transform: translateX(-2%);
}

@keyframes slide-right {
  from {
    transform: translateX(2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-2%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card > img {
  width: 6em;
}

.imagePlaceholder {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  background: var(--text-light-100);
}

.title {
  color: var(--main-color);
  font-size: 1.2rem;
}

.action {
  color: var(--text-dark-900);
  text-align: center;
}

.supportedFiles {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-placeholder);
}

.btn {
  width: 10em;
  padding: 0.5em 0;
  border-radius: 2em;
  font-size: 1rem;
  border: 2px solid var(--main-color);
  transition: all 300ms;
  color: var(--main-color);
}

.btn:hover {
  background: var(--main-color);
  color: var(--default);
}

.goBack {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 2em;
  margin-left: 5em;
}

.goBack > img {
  transition: all 300ms;
  width: 1.2em;
}

.goBack:hover img {
  transform: translateX(-50%);
}
