.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.topNav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.backBtn {
  padding: 0.5em 1em 0.5em 0;
  border-radius: 0.7em;
  cursor: var(--cursor-pointer);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-right: auto;
  font-weight: 500;
  font-size: 1.4em;
}

.backBtn svg {
  transition: all 300ms;
  width: 24px;
  height: 24px;
  border: 2px solid #a0a0a0;
  padding: 3px;
  border-radius: 50%;
}
.backBtn svg path {
  fill: #a0a0a0;
}
.backBtn:hover svg {
  transform: translateX(-50%);
}

.paginate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.25em;
  margin-top: 2em;
}

.paginate input {
  padding: 0.65em;
  max-width: 6em;
  border: 1px solid var(--outline);
  background: var(--default);
  border-radius: 2px;
}

.pageControl {
  border-radius: 0.7em;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
  border: 2px solid transparent;
}

.pageControl.goto {
  color: var(--main-color);
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.pageControl.goto img {
  margin-left: 4px;
  transition: all 300ms;
}
.pageControl.goto:hover img {
  transform: translateX(50%);
}

.pageCount {
  white-space: nowrap;
  display: flex;
  color: #3e385d;
}
.pageCount p {
  background: #fafbfe;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor-pointer);
}
.pageCount p:not(:last-child) {
  margin-right: 6px;
}
p.activePage {
  border-color: var(--main-color);
}
p.fillerPage {
  cursor: initial;
}
.pageCount p:hover {
  border-color: var(--main-color);
}
p.fillerPage:hover {
  cursor: var(--cursor-hover);
  border-color: transparent;
}
.gotoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.assetWrapper {
  width: 100%;
  max-width: 14em;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  cursor: var(--cursor-pointer);
  border: 4px solid transparent;
  transition: all 300ms;
}

.assetWrapper img {
  width: 100%;
}

.assetOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: all 300ms;
  padding: 2em 0.5em;
  color: white;
}

.assetWrapper:hover .assetOverlay {
  transform: translateY(50%);
}

.assetWrapper:hover {
  border: 4px solid var(--main-color);
}
.assetWrapperActive {
  border: 4px solid var(--main-color);
}
.attrBtn {
  width: 100%;
  margin-top: 1em;
  background: var(--default);
  color: var(--main-color);
  padding: 0.75em;
  border-radius: 0.7em;
  font-size: 1rem;
  transition: all 300ms;
}

.attrBtn:hover {
  background: var(--card-light);
}

.buttonWrapper {
  display: flex;
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.buttonWrapper p,
.buttonWrapper div {
  border: 3px solid var(--main-color);
  border-radius: 37px;
  height: 2.8em;
  width: 9.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor-pointer);
  transition: 0.3s ease;
}
.buttonWrapper p {
  margin-right: 1em;
  color: var(--main-color);
}
.buttonWrapper p:hover {
  background: var(--main-color);
  color: white;
}
.buttonWrapper div {
  background: var(--main-color);
  color: white;
}
.buttonWrapper div:hover {
  background: var(--main-hovered);
}
@media screen and (max-width: 768px) {
  .topNav {
    flex-direction: column;
    top: 3em;
    gap: 0.5em;
    padding: 0.5em 0;
  }

  .paginate input,
  .pageCount,
  .backBtn,
  .pageControl {
    font-size: 0.75rem;
  }
  .buttonWrapper {
    font-size: 0.9rem;
  }
  .backBtn {
    align-self: flex-start;
  }
}
