.container {
  width: 100%;
  font-size: 1rem;
  height: 1000px;
  text-align: center;
  padding-top: 4em;
}

.container h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0;
}

.text {
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px;
}

.button-container {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home:hover {
  background-color: var(--main-accent);
  color: white;
}

.home {
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  color: var(--main-accent);
  font-size: 20px;
  border: 1px solid var(--main-accent);
  transition: 0.4s;
  margin-right: 20px;
  font-weight: 600;
  border-radius: 100px;
}

.go-back:hover {
  background: none;
  color: var(--main-accent);
}

.go-back {
  width: 200px;
  cursor: pointer;
  height: 60px;
  background-color: var(--main-accent);
  color: white;
  font-size: 20px;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-accent);
  font-weight: 600;
  border-radius: 100px;
}
.go-back img {
  width: 25px;
  height: 20px;
  margin-right: 10px;
}
.home img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: 0.4s;
  margin-bottom: 3px;
  background: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 2em;
    height: 700px;
  }
  .not-found img {
    width: 90vw;
    height: 300px;
  }
  .not-found h1 {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
  .go-back {
    margin-right: 10px;
  }
  .go-back,
  .home {
    width: 170px;
    height: 50px;
    font-size: 17px;
  }
}
