.container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 0.5em;
  overflow: hidden;
}

.container button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: black;
  padding: 0.15em 0.75em;
  cursor: pointer;
  background: var(--main-bg);
  color: white;
  outline: none;
  border: 1px solid var(--sidebar-bg);
  font-size: 12px;
  border-radius: 0.2em;
  transition: all 300ms;
}

.container button:hover {
  transform: translateY(1px);
}