.container {
  width: 100vw;
  /* position: fixed; */
    display: flex;
    height: 100%;
    flex-direction: column;
}
.mobileMain {
  padding: 10px 15px;
}

.closeModal {
  height: 35% !important;
}

.mobileRoot {
    display: flex;
    border-top-right-radius: 21px;
    justify-content: space-between;
    border-top-left-radius: 21px;
    flex-direction: column;
    background: #fff;
    height: 65%;
    width: 100%;
}

.heading {
    padding: 10px;
    text-align: left;
    margin-bottom: .5em;
    width: 100%;

  }
  
  .heading h3 {
    margin-bottom: 0.1em;
    font-size: 26px;
  }
  
  .description {

    font-size: 0.85rem;
    padding-bottom: 1em;
    text-align: left;
  }
  .networkSwitch {
    font-size: 0.75rem;
    background: var(--card-info);
    padding: 0.5em 1rem;
    width: 100%;
    margin-top: 0.3em;
    text-align: left;
  }
  .networkSwitch a {
    color: var(--main-color);
  }
  .networkSwitch a:hover {
    text-decoration: underline;
  }

  .wrapper {
    max-width: 100%;
    padding-left: 1em;
    position: relative;
}
  .chains {
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
      max-height: 260px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1em;
  }
  .chains.active {
    display: none;
  }

  .connectionMethods.active {
    display: flex;
  }
  .connectionMethod.metamask.active {
    display: flex;
  }
  .connectionMethod {
    width: 20%;
    padding: 1em 0;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    margin-right: 20px;
    gap: 0.5em;
    border-radius: 1em;
    text-align: center;
    cursor: var(--cursor-pointer);
    transition: all 300ms;
  }
  
  .connectionMethod h5 {
    font-weight: 500;
  }
  
  .connectionMethod:hover {
    box-shadow: var(--shadow-dark);
    border: 1px solid var(--outline);
  }
  
  .connectionMethod.metamask {
    display: none;
  }
  .connectionMethod.metamask.active {
    display: flex;
  }
  
  .connectionMethod img {
    width: 4em;
    height: 4em;
  }
  
  .mobileView {
    display: none;
  }
  
  .connectionMethod p {
    font-size: 0.85rem;
  }
  .networkSwitch {
    font-size: 0.75rem;
    background: var(--card-info);
    padding: 0.5em 1rem;
    width: 100%;
    margin-top: 1em;
    text-align: left;
  }
  .networkSwitch a {
    color: var(--main-color);
  }
  .networkSwitch a:hover {
    text-decoration: underline;
  }

  .chain {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    flex-direction: column;
    gap: 1em;
    padding-top: .5em;
    border-radius: 1em;
    cursor: var(--cursor-pointer);
    transition: all 300ms;
  }
  
  .chain.comingSoon {
    background: var(--card-trait);
    cursor: not-allowed;
  }
  
  .chain.comingSoon h4 {
    color: var(--text-placeholder);
    font-size: 12px;
  }
  
  .chain.comingSoon p {
    color: var(--text-placeholder);
  }

  .viewBtnImage {
    background: var(--text-placeholder-light);
    width: 3.5em;
    height: 3.5em;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .viewBtnImage img {
    margin-right: 2px;
  }
  
  .chain.comingSoon:hover {
    background: var(--outline);
    color: inherit;
  }
  
  .chain:hover {
    background: var(--main-hovered);
    border-color: transparent;
  }
  
  .chain:hover h4 {
    color: var(--default);
  }
  
  .chain:hover p {
    color: var(--default);
  }
  
  .chain img {
    width: 3.4em;
    height: 3.4em;
    border-radius: 50%;
  }
  
  .chain h4 {
    font-size: 1rem;
    width: 100%;
    text-align: left;
    font-weight: 500;
  }
  
  .chain span {
    font-size: 0.56rem;
    font-weight: 500;
    color: var(--default);
    background: #ebba4f;
    padding: 0.25em 0.5em;
  }
  
  .chain p {
    font-size: 0.85rem;
    width: 100%;
    text-align: left;
  }
  .viewBtn {
    margin-top: 5px;
  }
  
  .viewBtnContainer {
    min-width: 90px;
    margin-top: 0.5em;
    display: flex;
    min-height: 95px;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    cursor: var(--cursor-pointer);
    transition: .3s;
  }
  


  .footer {
    background: var(--text-placeholder-light);
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .learnButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:  0.7em 1.5em;
    offset: 0px, -1px rgba(14, 14, 44, 0.4);
    transition: .3s;
    border-radius: 16px;
    background: var(--main-color);
  }

  .learnButton:hover {
    background: var(--main-hovered);
  }
  
  .learnButton h1 {
    color: var(--default);
    margin-right: 7px;
    margin-bottom: 0;
    font-size: 18px;
  }
  
.connectionMethods {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1em;
  background: var(--default);
}

.connectionMethods.active {
  display: flex;
}


  @media screen and (max-width: 400px) {
    .mobileRoot {
        height: 80%;
    }
    .chain {
      min-width: 90px;
    }
    .chains {
      max-height: 300px;
    }
    .viewBtnContainer {
      margin-left: 0;
    }
  }