.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  padding: 0 1em;
}
.desktopView {
  display: flex;
  width: 100%;
}
.card {
  width: 100%;
  max-width: 65em;
  overflow: auto;
  background: var(--default);
  min-height: 617px;
  border-radius: 1em;
  animation: show 300ms alternate;
  margin: 6em auto 4em auto;
  display: grid;
  grid-template-columns: 50% 48%;
  gap: 2%;
}

.leftGrid {
  padding-left: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes show {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}

.heading {
  text-align: left;
  margin-bottom: 1.5em;
}

.heading h3 {
  margin-bottom: 0.5em;
  font-size: 26px;
}

.description {
  font-size: 0.85rem;
  padding-bottom: 1em;
  text-align: left;
}

.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.closeIcon {
  padding: 0.25em;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--outline);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  cursor: var(--cursor-pointer);
  fill: var(--icon-color);
}
.rightGrid {
  background: var(--text-placeholder-light);
  height: 100%;
}
.closeIcon:hover {
  background: var(--outline-dark);
  fill: var(--default);
}

.wrapper {
  max-width: 100%;
  position: relative;
}

.chains {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.lockSection {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: center;
  flex-direction: column;
}
.learnButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1.5em;
  offset: 0px, -1px rgba(14, 14, 44, 0.4);
  transition: 0.3s;
  border-radius: 16px;
  background: var(--main-color);
}
.closeIcon {
  margin: 15px 20px;
}

.learnButton:hover {
  background: var(--main-hovered);
}

.learnButton h1 {
  color: var(--default);
  margin-right: 7px;
  font-size: 24px;
}

.chains.active {
  display: none;
}

.chain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding-top: 0.5em;
  border-radius: 1em;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.chain.comingSoon {
  background: var(--card-trait);
  cursor: not-allowed;
}

.chain.comingSoon h4 {
  color: var(--text-placeholder);
  font-size: 12px;
}

.chain.comingSoon p {
  color: var(--text-placeholder);
}

.chain.comingSoon:hover {
  background: var(--outline);
  color: inherit;
}

.chain:hover h4 {
  color: var(--main-color);
}

.chain:hover p {
  color: var(--main-color);
}
.chain:hover img {
  transform: scale(1.2);
}
.chain img {
  width: 3.4em;
  height: 3.4em;
  transition: 200ms ease-in-out;
  /* border-radius: 50%; */
}

.chain h4 {
  font-size: 1rem;
  width: 100%;
  text-align: left;
}

.chain span {
  font-size: 0.56rem;
  font-weight: 500;
  color: var(--default);
  background: #ebba4f;
  padding: 0.25em 0.5em;
}

.chain p {
  font-size: 0.85rem;
  width: 100%;
  text-align: left;
}
.lockHeader {
  margin-bottom: 30px;
}

.viewBtnContainer {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  cursor: var(--cursor-pointer);
  transition: 0.6s ease-in-out;
}

.viewBtnImage {
  background: var(--text-placeholder-light);
  width: 3.5em;
  height: 3.5em;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewBtnContainer:hover {
  background: var(--text-placeholder-light);
}

.viewBtn {
  display: inline-block;
  cursor: var(--cursor-pointer);
  border-radius: 1em;
  padding: 0.15em 1em;
  font-weight: bold;
  transition: all 300ms;
}

.connectionMethods {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1em;
  background: var(--default);
}

.connectionMethods.active {
  display: flex;
}

.connectionMethod {
  width: 20%;
  padding: 1em 0;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 1em;
  text-align: center;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.connectionMethod h5 {
  font-weight: 500;
}

.connectionMethod:hover {
  box-shadow: var(--shadow-dark);
  border: 1px solid var(--outline);
}

.connectionMethod.metamask {
  display: none;
}
.connectionMethod.metamask.active {
  display: flex;
}

.connectionMethod img {
  width: 4em;
  height: 4em;
}

.mobileView {
  display: none;
}

.connectionMethod p {
  font-size: 0.85rem;
}
.networkSwitch {
  font-size: 0.75rem;
  background: var(--card-info);
  padding: 0.5em 1rem;
  width: 80%;
  margin-top: 1em;
  text-align: left;
}
.networkSwitch a {
  color: var(--main-color);
}
.networkSwitch a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .heading h4 {
    font-size: 0.85rem;
  }

  .learnButton {
    width: 250px;
    height: 50px;
  }
  .learnButton h1 {
    font-size: 18px;
  }

  .card {
    border-radius: 1em;
  }

  .chain {
    padding: 1em 0;
  }

  .chain img {
    width: 2em;
    height: 2em;
  }

  .connectionMethod img {
    width: 3em;
    height: 3em;
  }
}
@media screen and (max-width: 950px) {
  .chains {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    max-height: 15rem;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 600px) {
  .desktopView {
    display: none;
  }
  .mobileView {
    display: block;
    height: 100vh;
  }
  .heading h4 {
    font-size: 0.75rem;
  }
  .container {
    height: 100vh;
  }
  .card {
    flex-direction: column;
  }
  .rightGrid,
  .lockSection {
    width: 100%;
    height: 50%;
  }
  .lockImage {
    display: none;
  }

  .chain {
    padding: 0.5em 0;
    padding-left: 1em;
  }

  .chain h4 {
    font-size: 0.75rem;
  }

  .chain p {
    font-size: 0.75rem;
  }

  .chain img {
    width: 1.5em;
    height: 1.5em;
  }

  .connectionMethod h3 {
    font-size: 1rem;
  }

  .connectionMethod p {
    font-size: 0.85rem;
  }

  .connectionMethod img {
    width: 2em;
    height: 2em;
  }
}
