.container {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.container.active {
  display: flex;
}

.wrapper {
  width: 100%;
  max-width: 48em;
  border-radius: 0.5em;
  background: var(--main-bg);
  padding: 4em 1em;
  position: relative;
}

.closeBtn {
  fill: var(--bg-dark);
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.4em;
  height: 1.4em;
  padding: 0.25em;
  border-radius: 0.25em;
  background: var(--text-light-300);
  cursor: pointer;
  transition: all 300ms;
}

.closeBtn:hover {
  box-shadow: var(--shadow-dark);
}

.content {
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  padding: 2em 4em;
  border-radius: 0.5em;
  border: 1px solid var(--text-light-500);
}

.content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.content h6 {
  font-size: 0.85rem;
  font-weight: 600;
}

.content p {
  font-size: 0.85rem;
  color: var(--text-light-900);
  margin-bottom: 1.5em;
}

.inputContainer {
  width: 100%;
  position: relative;
  margin-bottom: 1.5em;
}

.inputContainer label {
  position: absolute;
  font-size: 0.75rem;
  background: var(--main-bg);
  top: 0;
  left: 1em;
  transform: translateY(-50%);
  font-weight: 600;
}

.inputContainer input {
  width: 100%;
  padding: 0.5em;
  padding-top: 1em;
  border: 2px solid var(--text-light-500);
  border-radius: 0.25em;
}

.inputContainer input:focus {
  border: 2px solid var(--main-700);
  outline: none;
}

.content button {
  align-self: center;
  width: 100%;
  padding: 0.75em 2em;
  border-radius: 2em;
  background: var(--main-700);
  color: var(--main-bg);
  font-size: 1rem;
  transition: all 300ms;
}

.content button:hover {
  background: var(--main-900);
}
