.container {
  cursor: pointer;
  padding: 0 0.5em;
  font-weight: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.copyIcon {
  width: 1.2em;
}

.copyIcon.active {
  transform: scale(0.8);
  border: 1px solid var(--main-accent);
}
