.chainDropdown {
  position: relative;
  width: 12em;
  z-index: 2;
  background: var(--main-bg);
  border-radius: 2.5em;
  z-index: 10;
}

.selectedPrice {
  cursor: var(--cursor-pointer);
  background: var(--main-bg);
  color: #000000;
  border: 1px solid var(--text-light-500);
  padding: 0.5em;
  border-radius: 2.5em;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 1em;
}

.selectedPrice span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedChain {
  display: flex;
  padding: 0.25em 0.5em;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--main-700);
  border-radius: 2.5em;
  cursor: var(--cursor-pointer);
  height: 100%;
  color: var(--main-700);
}

.selectedChain:hover {
  background: var(--text-light-300);
}

.selectedChain > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.chainDropdown .dropdown {
  width: 100%;
  left: 0;
  position: absolute;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  cursor: var(--cursor-pointer);
  transform: translateY(-0.5em);
  text-transform: capitalize;
}

.chainDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0em);
}

.chain:first-child {
  margin-top: 0.25em;
}

.chain {
  padding: 0.5em;
  border: 1px solid var(--text-light-500);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  background: var(--main-bg);
  position: relative;
}

.chain.inActive {
  cursor: var(--cursor-default);
  color: var(--text-light-500);
}

.chain.inActive:hover::after {
  content: "coming soon";
  position: absolute;
  left: 5em;
  font-size: 0.56rem;
  font-weight: 500;
  color: white;
  background: #ebba4f;
  padding: 0.25em 0.5em;
}

.chain:hover {
  background: var(--text-light-300);
}

.chainImg {
  width: 2em;
  height: 2em;
}

.chain:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.chainDropdown .dropdown img {
  width: 1.4em;
  height: 1.4em;
}

.dropdownIcon {
  transition: all 250ms;
}

.dropdownIcon.active {
  transform: rotate(180deg);
}
