.chainDropdown {
  z-index: 2;
}

.chainDropdown {
  position: relative;
  width: 12em;
  background: white;
  border-radius: 0.25em;
  z-index: 10;
}

.selectedPrice {
  cursor: pointer;
  background: white;
  color: #000000;
  border: 1px solid gainsboro;
  padding: 0.5em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  transition: all 300ms;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  gap: 1em;
}

.selectedPrice span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedChain {
  display: flex;
  padding: 0.25em 0.5em;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gainsboro;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: pointer;
  height: 100%;
}

.selectedChain:hover {
  background: rgb(240, 240, 240);
}

.selectedChain > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.selectedPrice:hover {
  background: rgb(240, 240, 240);
}

.chainDropdown .dropdown {
  width: 100%;
  left: 0;
  position: absolute;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform: translateY(-0.5em);
  text-transform: capitalize;
}

.chainDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0em);
}

.chainDropdown .dropdown > div {
  padding: 0.5em;
  border: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.chainDropdown .dropdown > div:hover {
  background: rgb(240, 240, 240);
}

.chainDropdown .dropdown > div:last-child {
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.dropdownIcon {
  transition: all 250ms;
}

.dropdownIcon.active {
  transform: rotate(180deg);
}
