.container {
  width: 100%;
  margin-bottom: 6em;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 3em;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 16em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.features {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1em;
  color: var(--text-heading);
  text-align: center;
}

.features span {
  display: inline-block;
  width: 0.15em;
  height: 0.15em;
  border-radius: 50%;
  background: var(--text-heading);
  position: relative;
  top: 0.2em;
}

.description {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}

.more {
  text-align: center;
  font-size: 1.5rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
  margin-top: 2em;
}

.btn_1,
.btn_2 {
  padding: 0.75em 3em;
  border-radius: 2em;
  color: var(--main-color);
  border: 1px solid transparent;
  transition: all 300ms;
  cursor: pointer;
}

.btn_1 {
  background: var(--main-color);
  color: var(--default);
}

.btn_1:hover {
  background: var(--default);
  color: var(--main-color);
}

.btn_2 {
  background: var(--default);
  color: var(--main-color);
}

.btn_2:hover {
  background: var(--main-color);
  color: var(--default);
}

.demo {
  width: 90%;
  height: 42em;
  max-width: 80%;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: -26px -18px 30px -12px rgba(93, 134, 194, 0.1), 26px 18px 18px rgba(93, 134, 194, 0.1);
  border-radius: 4em;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-top: -14em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playIcon {
  cursor: pointer;
  transition: transform 300ms;
  width: 12em;
}

.playIcon:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 1380px) {
  .features {
    font-size: 8rem;
  }

  .description {
    font-size: 2rem;
  }

  .more {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  .features {
    font-size: 6rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .demo {
    height: 36em;
  }

  .playIcon {
    width: 8em;
  }
}

@media screen and (max-width: 900px) {
  .heading {
    padding-top: 4em;
    padding-bottom: 6em;
  }

  .demo {
    margin-top: -6em;
    height: 32em;
  }

  .playIcon {
    width: 6em;
  }

  .features {
    font-size: 5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .more {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .features {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .demo {
    height: 24em;
  }
}

@media screen and (max-width: 540px) {
  .container {
    margin-bottom: 4em;
  }

  .features {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1rem;
  }

  .more {
    font-size: 0.85rem;
  }

  .demo {
    height: 20em;
    border-radius: 2em;
  }

  .playIcon {
    width: 4em;
  }

  .btn_1,
  .btn_2 {
    padding: 0.5em 2em;
  }
}
