.container {
  width: 100%;
  margin-bottom: 4em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}

.heading {
  font-size: 3rem;
  text-transform: capitalize;
}

.description {
  max-width: 28em;
  font-size: 1.2rem;
}

.container button {
  outline: none;
  padding: 0.75em 1em;
  font-size: 1rem;
  border-radius: 0.25em;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 200ms;
  background: var(--main-accent);
  color: white;
  text-transform: capitalize;
}

.container button:hover {
  outline: 2px solid var(--main-accent);
  background: var(--main-accent-dark);
}

.imageContainer {
  width: 100%;
  max-width: 36em;
  height: 32em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container img {
    max-width: 42vw;
  }

  .heading {
    font-size: calc(1rem + 2vmin);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }

  .imageContainer {
    height: 28em;
  }

  .container img {
    max-width: 80%;
  }

  .bannerText {
    padding-bottom: 0;
  }

  .description {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 3em;
  }

  .imageContainer {
    height: 24em;
  }

  .description {
    font-size: 1rem;
  }

  .container button {
    font-size: 0.85rem;
  }

  .bannerText {
    gap: 1em;
  }
}

@media screen and (max-width: 480px) {
  .imageContainer {
    height: 18em;
  }
}
