.container {
  width: 100%;
  max-width: 20em;
  height: calc(100vh - 9em);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
  justify-content: space-evenly;
  gap: 1em;
  border: 1px solid var(--card-outline);
  border-radius: 0.25em;
  position: sticky;
  top: 8.5em;
}

.toggleBtn {
  width: 1em;
  height: 4em;
  position: absolute;
  top: 7em;
  right: 0;
  transform: translateX(100%);
  background: var(--main-color);
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
  display: none;
}

.downloadMintBtn {
  width: 100%;
  text-align: center;
  background: var(--main-color);
  color: var(--default);
  box-shadow: var(--btn-shadow-open);
  border-radius: 0.25em;
  padding: 1em;
  transition: all 300ms;
  cursor: pointer;
}

.downloadMintBtn:hover {
  background: var(--main-hovered);
  box-shadow: var(--btn-shadow-close);
}

.nameContainer {
  width: 100%;
}

.name {
  color: var(--text-heading);
  font-weight: 600;
}

.inputContainer {
  border: 1px solid var(--card-outline);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5em;
  border-radius: 0.25em;
  overflow: hidden;
}

.inputContainer input {
  flex: 1;
  padding: 0.5em;
  outline: none;
  border: none;
}

.descriptionContainer {
  width: 100%;
}

.descriptionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.descriptionContainer textarea {
  width: 100%;
  height: 6em;
  resize: none;
  outline: none;
  border: 1px solid var(--card-outline);
  border-radius: 0.25em;
  padding: 0.5em;
}

.formatContainer {
  width: 100%;
}

.selectWrapper {
  margin-top: 0.5em;
  width: 100%;
  padding: 1.5em;
  background: var(--card-light);
}

.selectWrapper select {
  width: 100%;
  padding: 0.5em;
  outline: none;
}

.btnContainer {
  width: 100%;
}

.gifBtn,
.downloadBtn {
  width: 100%;
  padding: 1em;
  border-radius: 2em;
  text-align: center;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: var(--btn-shadow-open);
  transition: all 300ms;
  cursor: pointer;
}

.gifBtn {
  margin-bottom: 1em;
}

.gifBtn:hover,
.downloadBtn:hover {
  box-shadow: var(--btn-shadow-close);
  color: var(--main-hovered);
  border: 1px solid var(--main-hovered);
}

@media screen and (max-width: 768px) {
  .container {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    height: 100vh;
    background: var(--default);
    transform: translateX(-100%);
  }

  .container.active {
    transform: translateX(0);
  }

  .toggleBtn {
    display: block;
  }
}
