.container {
  border: 1px solid red;
  width: 100%;
}

.heading {
  font-weight: 600;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: 600;
  font-size: 1.5rem;
}

.attributes {
  padding: 1em;
  border: 1px solid red;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.attribute {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-radius: 0.5em;
}

.rarity,
.type {
  border: 1px solid red;
}
