.container {
  border: 1px solid blue;
  padding: 1em;
  margin-bottom: 4em;
  overflow: hidden;
}

.heading {
  margin-bottom: 1em;
}

.heading h3 {
  font-size: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2em;
}

.card {
  width: auto;
  height: 20em;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
}

.card span {
  background: var(--main-bg);
  color: var(--main-accent);
  font-weight: bold;
  padding: 0.5em 2em;
  border-radius: 1.5em;
}