.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--default);
  box-shadow: var(--shadow-light);
  z-index: 1;
  padding: 0.5em 2em;
  gap: 12em;
}

.logoContainer {
  position: relative;
  cursor: var(--cursor-pointer);
  overflow: hidden;
}

.drop {
  width: 1em;
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  visibility: hidden;
  opacity: 0;
}

.logoContainer:hover .drop {
  transform: translateY(100%);
  animation: drop 650ms;
}

.logoContainer:hover .logoDesktop,
.logoContainer:hover .logoMobile {
  transform: translate(1px, 1px);
}

.logoMobile,
.logoDesktop {
  transition: all 650ms;
}

@keyframes drop {
  from {
    transform: translateY(0%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(200%);
    opacity: 1;
    visibility: visible;
  }
}

.logoDesktop {
  width: 4em;
}

.logoMobile {
  display: none;
}

.searchAndNavWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4em;
}

.searchContainer {
  flex: 1;
  border: 1px solid var(--outline);
  padding: 0.15em;
  border-radius: 2em;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.25em;
  transition: all 300ms;
  overflow: hidden;
}

.searchContainer:hover {
  cursor: var(--cursor-hover);
  border: 1px solid var(--main-color);
}

.searchContainer button {
  padding: 0.5em 2em;
  background: var(--main-color);
  border-radius: 2em;
  color: var(--default);
  transition: all 300ms;
}

.searchContainer button:hover {
  cursor: var(--cursor-pointer);
  background: var(--main-hovered);
}

.searchContainer input {
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  padding: 0.25em 0.5em;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--default);
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1rem;
  text-transform: capitalize;
  margin-right: 4em;
}

.navItem {
  font-weight: 500;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  transition: all 100ms;
}

.navItem li {
  padding: 0.5em 1em;
  cursor: var(--cursor-pointer);
}

.line {
  width: 0%;
  background: var(--main-color);
  height: 2.5px;
  transition: all 300ms;
}

.navItem:hover .line {
  width: 60%;
}

.navItem.active .line {
  width: 100%;
}

.closeIcon,
.iconOpen {
  display: none;
  cursor: var(--cursor-pointer);
}

.closeIcon {
  fill: var(--icon-color);
}

.wallet {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1440px) {
  .container {
    gap: 2em;
  }
}

@media screen and (max-width: 1200px) {
  .searchAndNavWrapper {
    gap: 2em;
  }

  .navList {
    margin-right: 2em;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    background: var(--default);
  }

  .navList {
    margin-right: 0;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
    width: 3em;
  }

  .closeIcon,
  .iconOpen {
    display: block;
  }

  .searchAndNavWrapper {
    gap: 2em;
  }

  .navContainer {
    width: 100%;
    position: absolute;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2em;
    right: 0;
    top: 3.5em;
    padding: 0 2em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 650ms;
  }

  .navContainer.active {
    max-height: 20em;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-light-1);
  }

  .navList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .navList > * {
    width: 100%;
  }

  .navItem {
    width: 100%;
    text-align: center;
    font-weight: 700;
    border: 1px solid var(--outline);
    border-radius: 2em;
  }

  .navItem:hover {
    cursor: var(--cursor-hover);
    background: var(--main-lightest);
  }

  .line {
    display: none;
  }

  .wallet {
    width: 100%;
    margin-top: 1em;
  }

  .drop {
    bottom: 0;
    right: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  .searchContainer button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navContainer {
    max-width: 100%;
    right: 0;
    top: 3em;
  }

  .searchAndNavWrapper {
    gap: 1em;
  }

  .searchContainer button {
    font-size: 0.65rem;
    padding: 0.25em 1em;
  }

  .container {
    gap: 1em;
  }

  .logoContainer {
    margin-right: 0;
  }
}
