.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100000;
  color: var(--main-accent);;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: bottom;
  background-size: 120% 120%;
  background-repeat: no-repeat;
  background: white;
  /* background-image: linear-gradient( to bottom, rgba(255,255,255, 0.95),rgba(255,255,255, 0.95)),
  url('https://cdn.pixabay.com/photo/2014/12/24/05/02/drop-of-water-578897__480.jpg');
  animation: wave 4s 1.5s forwards; */
}

.gena, .drop {
  font-size: 6rem;
  font-weight: bold;
  visibility: hidden;
}

.gena {
  animation: enter-from-right 1s 200ms forwards;
}

.drop {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: enter-from-left 1s 300ms forwards;
}

.imageContainer {
  width: 0;
  animation: open 500ms 1s forwards;
}

.image {
  transform: translateY(-100%);
  width: 0.75em;
  visibility: hidden;
  animation: drop 2s 1.5s forwards;
}

@keyframes enter-from-right {
  from {transform: translate(0%, 15px); visibility: hidden;}
  to {transform: translate(-30%, 15px); visibility: visible;}
}

@keyframes enter-from-left {
  from {transform: translate(0%, -15px); visibility: hidden;;}
  to {transform: translate(30%, -15px); visibility: visible;}
}

@keyframes open {
  from {width: 0;}
  to {width: 0.75em;}
}

@keyframes drop {
  0% {transform: translateY(-200%); visibility: hidden;}
  40%, 45% {transform: translateY(35px); visibility: visible;}
  70% {transform: translateY(-5px); visibility: hidden;}
  100% {transform: translateY(25px); visibility: visible;}
}

@keyframes wave {
  0% {background-position: bottom;}
  25% {background-position: top;}
  75% {background-position: bottom;}
  100% {background-position: top;}
}

@media screen and (max-width: 540px) {
  .gena, .drop {
    font-size: 4rem;
  }

  @keyframes enter-from-right {
    from {transform: translate(0%, 10px); visibility: hidden;}
    to {transform: translate(-30%, 10px); visibility: visible;}
  }
  
  @keyframes enter-from-left {
    from {transform: translate(0%, -10px); visibility: hidden;;}
    to {transform: translate(30%, -10px); visibility: visible;}
  }

  @keyframes drop {
    0% {transform: translateY(-150%); visibility: hidden;}
    40%, 45% {transform: translateY(30px); visibility: visible;}
    70% {transform: translateY(-5px); visibility: hidden;}
    100% {transform: translateY(20px); visibility: visible;}
  }
}

