.container {
  width: 100%;
  min-height: calc(100vh - 6.25em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  padding: 0 1em;
  padding-top: 2em;
  position: relative;
  margin-bottom: 8em;
}

.layer_overview {
  width: calc(100% - 20em);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}

.iconContainer {
  background: var(--main-accent-dark);
  position: fixed;
  top: 4.5em;
  right: 0.5em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 50%;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.iconContainer.active {
  visibility: visible;
}

.icon {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin-bottom: 6em;
    margin-top: 2em;
  }

  .layer_overview {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 6em;
  }

  .layer_overview {
    flex-direction: column;
  }

  .iconContainer {
    width: 1.4em;
    height: 1.4em;
    top: 3.5em;
  }
}
