.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0 1em 2em 1em;
}

.layer_overview {
  width: calc(100% - 20em);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.overlay {
  position: fixed;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.overlay i {
  color: white;
  font-size: 2rem;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

.overlay.isLoading {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .layer_overview {
    width: 100%;
    border: 3px solid black;
  }
} 


@media screen and (max-width: 768px) {
  .layer_overview {
    flex-direction: column;
  }
}