.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--default);
  height: 465px;
  width: 370px;
  padding: 25px 10px 10px 10px;
  border-radius: 14px;
  z-index: 2000;
}
.header {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
}

.closeIcon {
  cursor: var(--cursor-pointer);
  fill: var(--icon-color);
  margin-right: 0.4em;
  width: 1.2em;
  height: 1.2em;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.subsButton {
  width: 80%;
  height: 50px;
  color: var(--default);
  background: var(--main-light);
  cursor: not-allowed;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .container {
    width: 360px;
  }
}
