.container {
  width: calc(100% - 20em);
  background: var(--main-bg);
  z-index: 1;
  border: 1px solid gainsboro;
  border-radius: 0.5em;
  padding: 1em;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.rules {
  width: 100%;
  align-items: center;
  background: var(--main-bg);
  padding: 2em 0.5em;
  z-index: 1;
  gap: 1em;
  display: inline-flex;
  justify-content: flex-start;
  position: sticky;
  top: 3.9em;
  z-index: 100;
}

.addRuleBtn,
.showRuleBtn {
  border-radius: 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 300ms;
  border: 1px solid transparent;
}

.addRuleBtn {
  width: 10em;
  height: 3em;
  background: var(--main-accent);
  color: white;
}

.showRuleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--main-accent);
  background: white;
  border: 1px solid var(--main-accent);
  width: 10em;
  height: 3em;
}

.addRuleBtn:hover {
  background: var(--main-accent-dark);
}

.showRuleBtn:hover {
  background: var(--main-accent);
  color: white;
}

.ruleCount {
  height: 24px;
  width: 24px;
  padding-top: 1px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-accent);
  color: white;
  transition: all 300ms;
}

.showRuleBtn:hover .ruleCount {
  background: white;
  color: var(--main-accent);
}

.ruleCardWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  text-transform: capitalize;
  font-style: italic;
  min-height: calc(100vh - 5em);
}

.conflictGuide {
  font-size: 0.75em;
  color: #009987;
  background: #edfcfa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 10px 8px;
  margin-left: auto;
  width: 35em;
}
.conflictGuide img:first-child {
  margin-right: 8px;
  height: 20px;
}
.conflictGuide img:last-child {
  margin-left: 8px;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1200px) {
  .container {
    min-height: 10em;
  }
}
@media screen and (max-width: 950px) {
  .rules {
    flex-wrap: wrap-reverse;
  }
  .conflictGuide {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }

  .rules {
    top: 3em;
  }
}

@media screen and (max-width: 480px) {
  .rules {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }

  .showRuleBtn,
  .addRuleBtn {
    font-size: 0.85rem;
  }
}
