.container {
  flex: 1;
  height: calc(100vh - 8.4em);
  overflow: auto;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: calc(100vh - 8.4em);
  font-size: 2rem;
  text-transform: capitalize;
  font-style: italic;
}

@media screen and (max-width: 1200px) {
  .container {
    min-height: 10em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }
}