.container {
  overflow-x: auto;
  flex: 1;
  height: auto;
  background: var(--main-bg);
  z-index: 1;
  border: 1px solid gainsboro;
  border-radius: 0.5em;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.rules {
  width: auto;
  background: var(--main-bg);
  padding: 0.5em;
  z-index: 1;
  gap: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.addRuleBtn {
  padding: 0.75em 2em;
  border-radius: 0.25em;
  font-size: 1rem;
  background: var(--main-accent);
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.showRuleBtn {
  padding: 0.45em 2em;
  border-radius: 0.25em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  border: 1px solid transparent;
  background: var(--card-bg);
  cursor: pointer;
}

.showRuleBtn span {
  height: 1.8em;
  width: 1.8em;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(192, 192, 192);
  color: white;
}

.ruleCardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(55%) translateY(3.5em);
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  text-transform: capitalize;
  font-style: italic;
  /* padding: 2em 0; */
  min-height: calc(100vh - 5em);
}

@media screen and (max-width: 1200px) {
  .container {
    min-height: 10em;
  }

  .ruleCardWrapper {

    transform: translateX(25%) translateY(3.5em);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }

  .ruleCardWrapper {
    width: 100%;

    transform: translateX(55%) translateY(3.5em);
  }  
}

@media screen and (max-width: 480px) {
  .ruleCardWrapper {
    width: 90%;

    transform: translateX(5%) translateY(3.5em);
  }  
}