.container {
  width: auto;
  height: 100vh;
  background: var(--sidebar-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 1em;
}

.logoWrapper {
  position: absolute;
}

.container * {
  color: white;
}

.navItems {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.navItem {
  margin-bottom: 2em;
}

.navItem p {
  font-size: 1.2rem;
}

.navItem:last-child {
  margin-bottom: 0;
}

.navItem > img {
  display: block;
  width: 4em;
  height: 4em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 1000;
}

.overlay.isLoading {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: unset;
    position: static;
    padding: 1em;
  }

  .navItems {
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
  }

  .navItem > img {
    display: block;
    width: 2em;
    height: 2em;
  }
}