.container {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 4em;
  background: var(--main-bg);
}

.container > input {
  display: none;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  background: var(--main-bg);
  padding: 0 1em;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.heading h3 {
  font-size: 2rem;
  font-weight: 600;
}

.heading button {
  cursor: var(--cursor-pointer);
  padding: 0.5em 2.5em;
  border-radius: 2em;
  background: var(--main-700);
  color: white;
  transition: background 300ms;
  font-size: 1rem;
}

.heading button:hover {
  background: var(--main-900);
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.noResult {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 680px) {
  .container {
    padding: 0;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading {
    flex-direction: column;
    gap: 1em;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .headingWrapper {
    gap: 1em;
    width: 100%;
    flex-direction: column;
  }
}
