/* Accordion */

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1em;
  padding-top: 2em;
  margin: 0 auto;
  margin-bottom: 8em;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
}

.menu {
  margin: 5rem 0;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
}

.left {
  width: 30%;
  max-width: 25em;
}

.right {
  width: 50%;
  max-width: 50em;
}

.fullLegnth {
  width: 100%;
  max-width: 75em;
  margin: 5rem;
}
.section1 {
  display: flex;
  /* flex-direction: column; */
}

.section {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  border: 2px solid var(--outline-light);
  box-shadow: 2px 7px 22px rgba(28, 27, 28, 0.1);
  border-radius: 16px;
}

.v_subsection1 {
  margin-right: 1rem;
  max-width: 40%;
}

.imgContainer {
  border: 2px solid var(--outline-dark2);
  box-shadow: 2px 7px 22px rgba(28, 27, 28, 0.1);
  border-radius: 24px;
  padding: 1em;
}

.imgTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nftName {
  font-size: 24px;
  font-weight: 700;
}

.avatar {
  width: 2em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.ownerProfile {
  display: flex;
  align-items: center;
}
.details {
  display: flex;
  align-items: center;
}

.detail {
  width: 50%;
}

.detailTitle {
  color: var(--main-color);
  font-size: 16px;
}
.nft {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 24px;
  margin: 1em 0;
}

.shadowBox {
  border: 2px solid var(--outline-light);
  box-shadow: 2px 7px 22px rgba(28, 27, 28, 0.1);
  border-radius: 16px;
  padding: 1em;
  margin: 1em 0;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-dark-400);
  margin-top: 0.5em;
}

.key {
  font-size: 20px;
}

.value {
  font-size: 14px;
}
.explorer {
  margin-left: 0.5em;
}

.explorer:hover {
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.totalKey {
  font-weight: 600;
}

.v_subsection2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.priceTitle {
  font-size: 24px;
  padding-left: 0.5em;
  color: var(--text-dark-350);
}

.left {
  display: flex;
  align-items: center;
}

.nftId {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon {
  background-color: #fff;
  margin-right: 3px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #e5e8eb;
  padding: 3px;
}
.icon:hover {
  cursor: var(--cursor-pointer);
}

.refresh {
  border-radius: 10px 0 0 10px;
}

.dots {
  border-radius: 0 10px 10px 0;
}

.priceSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.btns {
  padding-left: 1rem;
}
.priceSection {
  margin: 0.1rem 0;
  font-size: 13px;
  color: #707a83;
}

.sectionHistory {
  height: 28em;
  margin: 1.5rem 0;
  border: 2px solid var(--outline-light);
  box-shadow: 2px 7px 22px rgba(28, 27, 28, 0.1);
  border-radius: 16px;
}

.price {
  display: flex;
  flex-direction: row;
}

.price img {
  width: 30px;
  margin-right: 0.3rem;
}

.tokenValue {
  font-weight: bolder;
  font-size: 48px;
  margin-right: 0.3rem;
}

.usdValue {
  /* -ms-transform: translateY(-50%); */
  transform: translateY(20%);
  top: 50%;
  font-size: 24px;
  color: var(--text-dark-450);
  /* font-weight: 30px; */
}

.buy,
.bid,
.sold {
  color: white;
  padding: 0.8rem;
  border-radius: 35px;
  font-weight: bold;
  width: 8em;
  font-size: 24px;
}

.buy {
  background-color: var(--main-color);
}

.bid {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.sold {
  background-color: #707a83;
  cursor: var(--cursor-hover);
}

.buy:hover,
.bid:hover {
  cursor: var(--cursor-hover);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.attributesContainer {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: auto auto;
}

.attribute {
  display: flex;
  flex-direction: column;
  background-color: var(--main-lighter);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 1rem;
  color: var(--text-heading);
  width: 100%;
}

.iconImg {
  width: 30px;
}

.attribute {
  font-size: 14px;
  margin-bottom: 0.313rem;
  color: var(--text-dark-200);
}

.attribute .description {
  font-size: 18px;
  text-overflow: ellipsis;
  color: black;
}

.heading {
  padding: 0.5rem;
  border-bottom: 1px solid #e5e8eb;
  background-color: #f5f6f7;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.heading img {
  margin-right: 0.5em;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.txHistory {
  width: 50%;
  height: 100%;
}

.sectioncode {
  width: 50%;
  margin: 1.5rem 0;
  border-radius: 16px;
  overflow: hidden;
  overflow-x: hidden;
}

.code {
  height: 35em;
  overflow-y: scroll;
  background-color: #282a36;
}

.code * {
  color: var(--text-placehoder);
}

.tableContainer {
  height: fit-content;
}
.collectionItems {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.allCollecitons {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.btnCollections {
  padding: 0 1rem;
  margin: 1rem 0.5rem 1rem 0;
  background-color: var(--main-color);
  color: white;
  height: 30px;
  border-radius: 5px;
}

.btnCollections:hover {
  cursor: var(--cursor-hover);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 768px;
  }
  .nftName {
    font-size: 15px;
  }
  .key {
    font-size: 15px;
  }
  .sectionHistory {
    height: fit-content;
  }
  .data {
    flex-direction: column;
  }
  .txHistory,
  .sectioncode {
    width: 100%;
  }

  .code {
    height: fit-content;
    max-height: 25em;
  }

  .tokenValue {
    font-size: 25px;
  }
  .usdValue {
    font-size: 15px;
  }

  .sold,
  .buy {
    font-size: 15px;
  }
  .v_subsection2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 2em;
  }

  .section1 {
    flex-direction: column;
  }
  .history {
    overflow: scroll;
  }

  .v_subsection1 {
    width: 100%;
    margin-bottom: 1rem;
    max-width: 222rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 0.5em;
  }
  .section1 {
    flex-direction: column;
  }

  .attributesContainer {
    display: grid;
    grid-gap: 5px 5px;
    grid-template-columns: auto auto;
  }

  .buy {
    width: 95%;
  }

  .nftName {
    flex-direction: column;
  }
}

.share {
  position: fixed;
  width: 25rem;
  height: 7rem;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: white;
  z-index: 10000;
  border-radius: 20px;
  box-shadow: var(--shadow-light);
}

.shareContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10rem;
  margin: 0.5em auto;
}
.shareicon {
  width: 1rem;
  margin-left: 4px;
  transition: transform 0.2s ease-in-out;
  top: -15px;
}
.shareicon:hover {
  cursor: var(--cursor-pointer);
  animation: slidein 0.4s;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.shareIcon {
  /* border-radius: 50%; */
  width: 2rem;
  height: 2rem;
}
.copy {
  display: flex;
  flex-direction: row;
}

.textArea {
  width: 20rem;
}
.copy input {
  display: block;
  width: 100%;
  padding: 0.25em;
  resize: none;
  border: 1px solid var(--outline);
  border-radius: 0.25em;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row {
  border-bottom: 1px solid #707a83;
}

.row span {
  float: right;
}
