.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background: var(--main-accent);
  padding: 6em 2em;
  color: white;
  gap: 4em;
}

.rightFrame,
.leftFrame {
  width: 100%;
  max-width: 25em;
}

.rightFrame img {
  width: 2em;
}

.socialIcons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  height: 2rem;
}

.rightFrame .icon {
  width: 3em;
  border-radius: 0.25em;
  background: #00CC9B;
  transition: all 250ms;
}

.rightFrame img {
  display: block;
  width: 100%;
}

.rightFrame .icon:hover {
  transform: scale(1.1);
  background: var(--main-accent-dark);
}

.container h3{
  margin-bottom: 1em;
  font-size: 1rem;
}

.container span {
  color: red;
}

.logo{
  width: 6rem;
}