.container {
  width: 100%;
  border-top: 1px solid  var(--sidebar-bg);
  color: white;
  padding: 1em;
  text-align: center;
}

.container * {
  color: white;
}

.container a {
  font-size: 0.85rem;
}