.container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 6em;
  transform: translateY(-10px);
  animation: slide-down 1s forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.headingWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.heading {
  color: rgba(52, 52, 68, 1);
  font-weight: bold;
  font-size: 3rem;
  /* margin-bottom: 0.5em; */
}

.description {
  color: rgba(52, 52, 68, 1);
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1.5em;
}

.description > span {
  color: var(--main-700);
}

.disclaimer {
  color: rgba(156, 156, 156, 1);
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  background: #d0ebe9e4;
  color: var(--text-dark-900);
  border-radius: 0.5em;
}

.disclaimer img {
  width: 2em;
}

.mainWrapper {
  width: 100%;
  max-width: 64em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
  border-radius: 1em;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid var(--text-light-500);
  background: var(--main-bg);
}

.imageContainer {
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
}

.title {
  color: var(--main-700);
  font-size: 1.2rem;
}

.card .description {
  color: var(--text-dark-900);
  font-size: 0.9rem;
}

.btn {
  width: 14em;
  padding: 0.75em 0;
  border-radius: 2em;
  border: 1px solid var(--main-700);
  transition: all 300ms;
  color: var(--main-700);
}

.btn:hover {
  background: var(--main-700);
  color: white;
}

@media screen and (max-width: 680px) {
  .mainWrapper {
    flex-direction: column;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .disclaimer {
    font-size: 0.75rem;
  }
}
