.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 6em;
  transform: translateY(-10px);
  animation: slide-down 1s forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.headingWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.heading {
  color: rgba(52, 52, 68, 1);
  font-weight: bold;
  font-size: 3rem;
  /* margin-bottom: 0.5em; */
}

.description {
  color: rgba(52, 52, 68, 1);
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 1.5em;
}

.description > span {
  color: var(--main-color);
}

.disclaimer {
  color: var(--text-heading);
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em 1em;
  background: var(--card-info);
  color: var(--text-dark-900);
  border-radius: 0.5em;
}

.disclaimer img {
  width: 2em;
}

.mainWrapper {
  width: 100%;
  max-width: 64em;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2em;
  border-radius: 1em;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  border-radius: 1em;
  border: 1px solid var(--outline);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.214);
  background: var(--default);
  transition: all 300ms;
}

.card:hover {
  border: 1px solid var(--main-hovered);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.214);
}

.imageContainer {
  width: 6em;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
}

.title {
  color: var(--text-heading);
  font-size: 1.2rem;
}

.card .description {
  color: var(--text-dark-900);
  font-size: 0.9rem;
}

.btn {
  width: 10em;
  padding: 0.5em 0;
  font-size: 1rem;
  border-radius: 0.7em;
  border: 2px solid var(--main-color);
  transition: all 300ms;
  color: var(--main-color);
}

.btn:hover {
  background: var(--main-color);
  color: white;
}

@media screen and (max-width: 680px) {
  .mainWrapper {
    flex-direction: column;
  }

  .heading {
    font-size: 2rem;
  }

  .description {
    font-size: 0.85rem;
  }

  .disclaimer {
    font-size: 0.75rem;
  }
}
