.container {
  width: 100%;
  padding: 0 1em;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.imageLoadingContainer {
  background: gainsboro;
}

.imageLoadingContainer,
.imageContainer {
  width: calc(12 * 16px);
  height: calc(12 * 16px);
  border-radius: 50%;
  box-shadow: 0px 5px 10px gainsboro;
}

.details {
  display: flex;
}

.details > div {
  border: 1px solid gray;
  width: 8em;
  padding: 0.5em 0;
  text-align: center;
}

.description {
  max-width: 40em;
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  box-shadow: 0 0 10px gainsboro;
}

.sidebar {
  border: 1px solid gray;
  width: 100%;
  max-width: 20em;
  position: sticky;
  top: 5em;
  height: calc(100vh - 5.5em);
  overflow: auto;
}

.sidebar2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1em 1.25em;
  height: calc(100vh - 5.5em);
  border: 1px solid gray;
  position: sticky;
  top: 5em;
  cursor: pointer;
}

.filterHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
}

.filterHeading > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.filterHeading span {
  color: var(--main-accent);
}

.filter button{
  background: var(--main-accent);
  color: white;
  padding: 1em;
  border-radius: 0.25em;
  transition: all 300ms;
}

.filter button:hover {
  background: var(--main-accent-dark);
  outline: 2px solid var(--main-accent);
}

.attributeFilter .title,
.priceFilter .title,
.statusFilter .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.statusFilter .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 1.5em;
}

.toggleButton {
  background: gray;
  display: inline-block;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.75em;
  cursor: pointer;
  padding: 2.5px;
}

.toggleButton.active > div {
  transform: translateX(23px);
}

.toggleButton > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 250ms;
  background: gainsboro;
}

.priceFilter .filter {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.priceFilter .filterInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.priceFilter .filter > div {
  width: auto;
  flex: 1;
}

.priceFilter .filter input {
  width: 100%;
}

.attributeFilter .title {
  cursor: pointer;
}

.attribute {
  max-height: 0em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.attribute.active {
  max-height: 1000vh;
  padding: 1em;
  overflow: auto;
}

.layerTitle {
  cursor: pointer;
  border: 1px solid var(--card-bg);
  border-radius: 0.25em;
  padding: 0;
  padding: 1em;
}

.layer {
  border: 1px solid gray;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 250ms;
  border-radius: 0.25em;
}

.layer.active {
  max-height: 10em;
  overflow: auto;
  visibility: visible;
  transform: translateY(4px);
}

.layer > div {
  margin-bottom: 0.5em;
  border: 1px solid gainsboro;
  padding: 0.25em;
}

.value {
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.value:hover {
  background: gainsboro;
}

.main {
  flex: 1;
  padding: 1em;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
}

.filterDisplay {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.filteredItem {
  border: 1px solid gray;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 1.5em;
}

.filteredItem img {
  cursor: pointer;
}

.searchAndPriceFilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

.searchAndPriceFilter input {
  width: 100%;
  flex: 1;
  padding: 0.5em;
  transition: all 300ms;
  border-radius: 0.25em;
  border: 1px solid gray;
}

.searchAndPriceFilter input:focus {
  outline: 1px solid gray;
}

.priceDropdown {
  position: relative;
  width: 12em;
  padding: 0.5em;
  background: white;
  border-radius: 0.25em;
  z-index: 10;
}

.priceDropdown .selectedPrice {
  cursor: pointer;
  background: var(--main-accent);
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 0.25em;
  transition: all 300ms;
}

.priceDropdown .selectedPrice:hover {
  outline: 2px solid var(--main-accent);
  background: var(--main-accent-dark);
}

.priceDropdown .dropdown{
  width: 100%;
  left: 0;
  position: absolute;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 0.25em;
  cursor: pointer;
  border: 2px solid var(--main-accent);
}

.priceDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(1em);
}

.priceDropdown .dropdown > div {
  border-bottom: 1px solid gainsboro;
}

.loadingContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.loadingContainer > div {
  min-width: 10em;
}


@media screen and (max-width: 768px) {

  .loadingContainer,
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
  }

  .wrapper {
    flex-direction: column;
  }

  .sidebar, .sidebar2 {
    display: none;
  }

  .imageLoadingContainer,
  .imageContainer {
    width: calc(8 * 16px);
    height: calc(8 * 16px);  
  }
}

@media screen and (max-width: 480px) {
  .loadingContainer,
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .searchAndPriceFilter {
    flex-direction: column;
    gap: 0.5em;
  }

  .priceDropdown {
    width: 100%;
  }

  .imageLoadingContainer,
  .imageContainer {
    width: calc(5 * 16px);
    height: calc(5 * 16px);  
  }

  .details > div {
    width: auto;
    padding: 0.5em;
    text-align: center;
  }
}

