.container {
  border: 1px solid red;
  position: relative;
}

.header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.imageContainer {
  width: calc(12 * 16px);
  height: calc(12 * 16px);
  border: 1px solid red;
  border-radius: 50%;
}

.details {
  border: 1px solid red;
  display: flex;
}

.details > div {
  border: 1px solid red;
  width: 8em;
  padding: 1em 0;
  text-align: center;
}

.description {
  max-width: 40em;
  text-align: center;
  border: 1px solid red;
}

.wrapper {
  border: 1px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}

.sidebar {
  border: 1px solid red;
  width: 100%;
  max-width: 20em;
  position: sticky;
  top: 5em;
  height: calc(100vh - 5.5em);
  overflow: auto;
}

.sidebar2 {
  display: block;
  width: 4em;
  height: calc(100vh - 5.5em);
  border: 1px solid red;
  position: sticky;
  top: 5em;
  cursor: pointer;
}

.filterHeading {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  cursor: pointer;
}

.filterHeading > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.attributeFilter .title,
.priceFilter .title,
.statusFilter .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
}

.statusFilter .filter {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-bottom: 1.5em;
}

.toggleButton {
  border: 1px solid red;
  display: inline-block;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.75em;
  cursor: pointer;
  padding: 1px;
}

.toggleButton.active > div {
  transform: translateX(23px);
}

.toggleButton > div {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 50%;
  transition: transform 250ms;
}

.priceFilter .filter {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.priceFilter .filterInput {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.priceFilter .filter > div {
  border: 1px solid red;
  width: auto;
  flex: 1;
}

.priceFilter .filter input {
  width: 100%;
}

.attributeFilter .title {
  cursor: pointer;
}

.attribute {
  max-height: 0em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 1em;
  padding: 0 1em;
}

.attribute.active {
  max-height: 1000vh;
  overflow: auto;
}

.layerTitle {
  border: 1px solid red;
  padding: 1em;
  cursor: pointer;
}

.layer {
  border: 1px solid red;
  max-height: 0;
  overflow: hidden;
}

.layer.active {
  max-height: 10em;
  overflow: auto;
}

.layer > div {
  border: 1px solid red;
  margin-bottom: 0.5em;
}

.value {
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
}

.value:hover {
  background: gainsboro;
}

.main {
  flex: 1;
  border: 1px solid red;
  padding: 1em;
}

.menu {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  white-space: nowrap;
}

.filterDisplay {
  width: 100%;
  border: 1px solid red;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.filteredItem {
  border: 1px solid red;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 1.5em;
}

.filteredItem img {
  cursor: pointer;
}

.searchAndPriceFilter {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.searchAndPriceFilter input {
  width: 100%;
  flex: 1;
  padding: 0.5em;
}

.priceDropdown {
  position: relative;
  width: 12em;
  border: 1px solid red;
  padding: 0.5em;
  background: white;
  border-radius: 0.25em;
}

.priceDropdown .selectedPrice {
  cursor: pointer;
}

.priceDropdown .dropdown{
  width: 100%;
  left: 0;
  position: absolute;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.priceDropdown .dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(1em);
}

.priceDropdown .dropdown > div {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {

  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    justify-items: center;
  }

  .wrapper {
    flex-direction: column;
  }

  .sidebar, .sidebar2 {
    display: none;
  }

}

@media screen and (max-width: 480px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchAndPriceFilter {
    flex-direction: column;
    gap: 0.5em;
  }
  .priceDropdown {
    width: 100%;
  }
  .imageContainer {
    width: calc(8 * 16px);
    height: calc(8 * 16px);  
  }
  .details > div {
    width: auto;
    padding: 0.5em;
    text-align: center;
  }
}

