.overlay {
  position: fixed;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  color: white;
  top: 0;
  left: 0;
  z-index: 5000;
  overflow: hidden;
  font-style: italic;
}

.overlay.isLoading {
  background: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.dotOne,
.dotTwo,
.dotThree {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: var(--main-dark);
  animation: blink 300ms infinite alternate linear;
}

.dotOne {
  animation-delay: 0ms;
}

.dotTwo {
  animation-delay: 150ms;
}

.dotThree {
  animation-delay: 300ms;
}

@keyframes blink {
  from {
    background: transparent;
  }
  to {
    background: var(--main-color);
  }
}
