.container {
  width: 100%;
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 6em;
  position: relative;
  background: var(--main-bg);
}

.displayContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  border-radius: 0.5em;
  background: var(--main-bg);
  box-shadow: var(--shadow-light);
}

.displayWrapper {
  flex: 1;
  padding: 1em;
}

.filterDisplay {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.filteredItem {
  border: 1px solid var(--text-light-500);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 1.5em;
}

.closeIcon {
  width: 1em;
  height: 1em;
  padding: 0.15em;
  border-radius: 0.15em;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
  fill: var(--bg-dark);
}

.closeIcon:hover {
  background: rgb(0, 0, 0, 0.1);
}

.clearFilter {
  cursor: var(--cursor-pointer);
  margin-left: 1em;
  transition: all 100ms;
}

.clearFilter:hover {
  color: var(--main-700);
}

.searchAndFilter {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .displayWrapper {
    width: 100%;
  }

  .displayContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .searchAndFilter {
    flex-direction: column;
    gap: 0.5em;
  }

  .searchAndFilter > div {
    width: 100%;
  }
}
