.container {
  width: 100%;
  padding: 0 1em;
  padding-top: 2em;
  padding-bottom: 6em;
  position: relative;
  background: white;
}

.displayContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  border-radius: 1em;
  background: white;
  box-shadow: 0 0 15px gainsboro;
}

.displayWrapper {
  flex: 1;
  padding: 1em;
}

.filterDisplay {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 2em;
}

.filteredItem {
  border: 1px solid gainsboro;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 1.5em;
}

.closeIcon {
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.closeIcon img {
  width: 1em;
  transition: all 100ms;
}

.closeIcon:hover img {
  width: 0.85em;
}

.clearFilter {
  cursor: pointer;
  margin-left: 1em;
  transition: all 100ms;
}

.clearFilter:hover {
  color: var(--main-accent);
}

.searchAndFilter {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .displayWrapper {
    width: 100%;
  }

  .displayContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .searchAndFilter {
    flex-direction: column;
    gap: 0.5em;
  }

  .searchAndFilter > div {
    width: 100%;
  }
}
