.container {
  width: 100%;
  height: calc(100vh - 8.25em);
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-bg);
  color: var(--main-accent);
  padding: 0 2.65em;
  position: relative;
  overflow: hidden;
}