.renameInputContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25em;
  padding: 0.25em .5em;
  border-bottom: 1px solid rgb(83, 83, 83);
  margin: auto;
}

.renameInputContainer form {
  width: 100%;
}

.renameBtn {
  background: transparent;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  text-align: left;
} 

.renameInput {
  width: 100%;
  border: 1px solid var(--sidebar-bg);
  padding: 0.25em;
  outline: none;
  transition: all 0.3s;
  opacity: 0;
}

.renameInput.active {
  opacity: 1;
}

.renameInputContainer i {
  color: var(--icon-color);
  font-size: 10px;
  margin-left: 1em;
}


