.container {
  width: 100%;
  /* border: 1px solid red; */
  padding: 0 1em;
  margin-bottom: 4em;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.displayWrapper {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2em;
  border: 2px solid var(--card-outline);
}
