.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-bottom: 4em;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.info {
  color: white;
  margin-bottom: 2em;
  width: 100%;
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  font-size: 12px;
  position: sticky;
  top: 1em;
  z-index: 1000;
}

.collectionName {
  display: flex;
  align-items: center;
  gap: 2em;
}

.info div {
  border: 1px solid var(--sidebar-bg);
  padding: 0.5em 1em;
  background: var(--main-bg);
}

.infoRight {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.info .warn {
  color: tomato;
}

.imgWrapper {
  display: inline-block;
  border: 1px solid rgba(128, 128, 128, 0.2);
  width: 14em;
  height: 14em;
  position: relative;
  cursor: pointer;
  transition: all 300ms;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
}

.imgWrapper:hover {
  border: 1px solid var(--main-accent-dark);
}

.imgWrapper:hover .popup {
  opacity: 1;
}

.popup {
  width: 100%;
  border: 1px solid var(--sidebar-bg);
  border-radius: 0.25em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25em;
  padding: 0.5em;
  opacity: 0;
  transition: all 0.3s;
}

.imgWrapper button {
  font-size: 10px;
  background: var(--main-bg);
  color: white;
  color: white;
  outline: none;
  border: 1px solid var(--sidebar-bg);
  box-shadow: 0px 0px 5px 0px var(--main-accent);
  font-size: 12px;
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: all 0.3s;
}

.imgWrapper button:hover {
  box-shadow: 0px 0px 10px 0px var(--main-accent);
}

.inputs {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.renameInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25em;
  padding: 0.25em .5em;
}

.downloadContainer {
  position: fixed;
  right: 0.5em;
  bottom: 4em;
  z-index: 1000;
  background: black;
  padding: 1em;
}

.renameInput {
  width: 100%;
  border: 1px solid var(--sidebar-bg);
  padding: 0.25em;
  outline: none;
  transition: all 0.3s;
  opacity: 0;
}

.renameInput.active {
  opacity: 1;
}

.goBackBtn {
  color: var(--main-accent);
  border-bottom: 1px solid var(--main-accent);
  display: inline-block;
  padding: 0 1.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin-bottom: 3em;
  margin-top: 1em;
  margin-left: 0.5em;
}

.goBackBtn i {
  transition: all 0.3s;
  font-size: 1rem;
}

.goBackBtn:hover i {
  transform: translateX(-6px);
}

.toggleLabel{
  color: white;
  margin-left: 5px;
}