.wrapper {
  width: 100%;
  padding: 0 1em;
  padding-top: 2em;
}

.container {
  width: 100%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 24% 74.5%;
  gap: 1.5%;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 4em;
  min-height: 100vh;
}

.sidebar {
  position: sticky;
  top: 11em;
  border: 1px solid #c4c4c4;
  box-shadow: var(--shadow-light);
  border-radius: 0.5em;
}

.main {
  flex: 1;
  height: auto;
  background: var(--main-bg);
  z-index: 1;
}

.detailsView {
  width: 100%;
  position: sticky;
  top: 3.8em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 1em 0.5em;
  background: var(--main-bg);
  z-index: 1;
  margin-bottom: 0.5em;
}

.backBtnWrapper {
  position: sticky;
  top: 6em;
  z-index: 10;
}
.backBtn {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-light);
  background: var(--main-bg);
  cursor: var(--cursor-pointer);
  margin-bottom: 1em;
  opacity: 0.9;
}

.backBtn img {
  transition: all 300ms;
}

.backBtn:hover img {
  transform: translateX(-25%);
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.65em 1em;
  font-size: 0.95rem;
  border-radius: 0.25em;
  border: 1px solid var(--card-bg);
  background: #fff;
  color: var(--card-bg);
}
.detailsView :last-child {
  margin-left: 1rem;
}
.detailGif {
  border-radius: 30px;
  border-color: var(--main-700);
  cursor: var(--cursor-pointer);
  margin-right: 1.6875em;
  box-shadow: var(--shadow-light);
}
.detailGif:hover {
  cursor: var(--cursor-hover);
  background: var(--main-700);
}
.detailGif:hover p {
  color: white;
}
.detailGif:hover span:last-child {
  color: var(--main-700);
  background: var(--main-bg);
}
.detail span:last-child {
  background: #4b4b5a;
  border: 1px solid #4b4b5a;
  color: white;
  padding: 0 1em;
}
.detailGif p {
  margin: auto;
  font-weight: 500;
  color: var(--main-700);
  display: flex;
  align-items: center;
}
.detailGif span:last-child {
  border-radius: 50%;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  background: var(--main-700);
  border: 1px solid var(--main-700);
}

.detail i {
  color: red;
}

.collectionDetail {
  width: 100%;
  padding: 1em 1.6em;
}

.collectionDetail .wrapper {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.25em;
  margin-bottom: 2em;
  border: 1px solid #c4c4c4;
  box-shadow: var(--shadow-light);
}

.collectionDetail img {
  filter: invert(1);
}

.collectionDetail textarea {
  resize: none;
  width: 100%;
  border-radius: 0.25em;
  border: 1px solid #c4c4c4;
  box-shadow: var(--shadow-light);
  padding: 0.6rem 0rem 0.3rem 0.8rem;
}

.collectionDetail textarea:focus {
  outline: 1px solid var(--text-light-500);
}

.collectionDetail .tab {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.collectionDetail .toggleContainer {
  width: 36px;
  border-radius: 0.75em;
  padding: 0px 0;
  background: var(--main-bg);
  cursor: var(--cursor-pointer);
  padding: 2px 2px;
  transition: all 300ms;
}

.collectionDetail .toggleContainer.active {
  background: var(--main-700);
  border: 1px solid var(--text-light-500);
}

.collectionDetail .toggle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: all 300ms;
  background: gray;
}

.collectionDetail .toggle.active {
  transform: translateX(100%);
  background: var(--main-bg);
}

.actionContainer {
  padding: 1em 0.8em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1em;
}
.ipfs_tip {
  text-align: center;
}
.actionContainer h3 {
  margin-top: -20px;
  background: var(--main-bg);
  width: fit-content;
  padding-right: 6px;
  margin-left: -5px;
  padding-left: 5px;
}

.actionContainer label {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 0.75em;
  border-radius: 0.25em;
  background: var(--card-bg1);
  color: white;
}

.actionContainer .btnWrapper > button {
  border: 1px solid var(--main-700);
  width: 100%;
  border: none;
  height: 3rem;
  font-size: 1rem;
  border-radius: 0.25em;
  background: var(--main-700);
  color: white;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.actionContainer .btnWrapper > button:hover {
  background: var(--main-900);
  outline: 2px solid var(--main-700);
}

.preview {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.card {
  min-width: 12em;
  max-width: 20em;
  padding: 0.5rem;
  position: relative;
}
.cardActive {
  background: rgba(0, 153, 135, 0.3);
}

.iconClose {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: var(--cursor-pointer);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  background: var(--main-bg);
  box-shadow: var(--shadow-light);
  border-radius: 0.15em;
  transition: all 300ms;
}

.iconClose img {
  width: 0.7em;
  margin: 0;
}

.card > .iconClose:hover {
  box-shadow: var(--shadow-light);
}

.asset {
  display: inline-block;
  width: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border: 1px solid var(--text-light-500);
}

.cardBody {
  background: var(--card-bg1);
  box-shadow: var(--shadow-light);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.cardBody .textWrapper {
  width: 100%;
  color: var(--text-dark-900);
}

.cardBody .textWrapper {
  color: white;
}

.cardBody textarea {
  width: 100%;
  background: var(--card-bg3);
  border: 1px solid black;
  color: white;
  padding: 0.25em;
  resize: none;
  border-radius: 0.25em;
}

.cardBody textarea:focus {
  outline: 2px solid var(--card-bg);
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.buttonContainer button {
  flex: 1;
  padding: 0.5em 0em;
  white-space: nowrap;
  border-radius: 0.25em;
  border: 1px solid;
  color: white;
  cursor: var(--cursor-pointer);
  transition: all 150ms;
  outline: 1px solid transparent;
  font-weight: 600;
  font-size: 0.6em;
}

.buttonContainer button:last-child {
  border-color: white;
}

.buttonContainer button:first-child,
.nftDonwload {
  background: var(--main-bg);
  border-color: white;
  color: var(--main-700);
}
.buttonContainer button:last-child:hover {
  background: var(--card-bg3);
  outline: 2px solid var(--card-bg);
  border-color: transparent;
}
.buttonContainer button:first-child:hover,
.nftDonwload {
  background: var(--main-900);
  border-color: var(--main-900);
  color: white;
}
.foramtWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  grid-gap: 1em;
  gap: 1em;
  width: 100%;
  border: 1px solid #c4c4c4;
  box-shadow: var(--shadow-light);
  padding: 0.6rem 0.8rem;
  padding-bottom: 1.3rem;
}
.radioBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--cursor-pointer);
}

.radioBtn::before {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: black;
  position: absolute;
  content: "";
  outline: 2px solid white;
  outline-offset: 2px;
}

.radioBtn.clicked::before {
  background: var(--main-bg);
}

.paginate {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  border-top: 1px solid var(--text-light-500);
  border-bottom: 1px solid var(--text-light-500);
  padding: 0.25em;
}

.paginate input {
  padding: 0.65em;
  max-width: 6em;
  border: 1px solid var(--text-light-500);
  border-radius: 0.25em;
}

.pageControl {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: var(--card-bg);
  color: white;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.pageControl:hover {
  outline: 2px solid gray;
}

.pageCount {
  font-weight: bold;
  white-space: nowrap;
}
/* -------------------------------- GIF Genrator -------------------------------- */
.btnWrapper {
  padding: 0 0.8rem;
  width: 100%;
}
.btnWrapper > button.gifButton {
  margin-top: 2em;
  background: var(--main-bg);
  border: 1px solid var(--main-700);
  color: var(--main-700);
  transition: 0.3s ease-in;
}
.btnWrapper > button.gifButton:hover {
  cursor: var(--cursor-hover);
  background: var(--main-700);
  color: white;
  outline: none;
}

.gifButton span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.75em;
}
.cheked {
  background: var(--main-700);
}
.galleryGif {
  background: #f6fdff;
  backdrop-filter: blur(23px);
  border-radius: 7px;
  padding: 1rem;
  margin-top: 20px;
  position: sticky;
  bottom: 0;
}
.galleryGifLine {
  height: 3px;
  width: 100%;
  box-shadow: var(--shadow-light);
  background: #ced4da;
  margin-bottom: 0.7rem;
}
.galleryGifslides {
  display: flex;
  overflow-x: scroll;
  padding: 0 1rem;
}
/* width */
.galleryGifslides::-webkit-scrollbar {
  height: 20px;
}

/* Track */
.galleryGifslides::-webkit-scrollbar-track {
  background: #f3f4f7;
  border-radius: 0px 0px 8px 8px;
}

/* Handle */
.galleryGifslides::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 30px;
}

.galleryGifslides > div {
  position: relative;
  margin-right: 10px;
}
.galleryGifslides > div > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 9px;
  padding: 8px;
  background: #e5e8eb;
}
.galleryGifInfo {
  color: #4b4b5a;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 1rem;
}
.galleryGifInfo > p {
  display: flex;
  align-items: center;
}
.playTut {
  background: rgba(152, 162, 179, 0.32);
  border-radius: 4px;
  /* margin-left: 1em; */
  padding: 0.7em;
  display: flex;
  cursor: var(--cursor-pointer);
}
.playTut svg {
  margin: auto;
  margin-right: 6px;
}
.playTut svg {
  transition: 0.2s ease-in;
}
.playTut:hover svg {
  transform: translate(4px, 0px);
}
.mintButtonWrapper {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10%;
  gap: 10%;
  flex-wrap: wrap;
  margin: 1.5em 0;
  grid-template-columns: 45% 45%;
}

.mintButtonWrapper button {
  flex: 1 1;
  height: 2.8em;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mintBtn {
  background: var(--main-700);
  border: 2px solid var(--main-700);
  color: white;
  font-size: 1rem;
  transition: all 300ms;
}
.mintBtn svg {
  margin-right: 8px;
}
.mintBtn:hover {
  background: var(--main-900);
  border: 2px solid var(--main-700);
  cursor: var(--cursor-pointer);
}

.cancelBtn {
  border: 2px solid var(--main-700);
  background: var(--main-bg);
  transition: all 300ms;
  font-size: 1rem;
}

.cancelBtn:hover {
  border: 2px solid var(--main-900);
}
.durationWrapper {
  padding: 0 0.5rem;
  width: 100%;
}
.durationField {
  margin-top: 2em;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.durationLabel {
  display: flex;
  width: 100%;
  margin-bottom: 0.8em;
  font-size: 0.7em;
  justify-content: space-between;
}
.durationLabel p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 500;
}
.durationLabel img {
  width: 30px;
  margin-left: 5px;
}
.durationField div span {
  position: absolute;
  right: 1em;
  margin: auto 0;
  font-size: 1.1em;
  display: block;
  top: 50%;
  transform: translate(-50%, -50%);
}
.durationInput {
  display: flex;
  width: 100%;
  position: relative;
}
.durationInput input {
  height: 3rem;
  padding-left: 1em;
  border-radius: 5px;
  border: 1px solid #adb5bd;
  background: var(--main-bg);
  transition: all 300ms;
  font-size: 1rem;
  width: 100%;
}
.durationInput input:focus {
  border: 2px solid var(--main-700);
  outline: none;
}
.durationInput input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adb5bd;
  opacity: 1; /* Firefox */
}
/* Chrome, Safari, Edge, Opera */
.durationInput input::-webkit-outer-spin-button,
.durationInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.durationInput input[type="number"] {
  -moz-appearance: textfield;
}
.numberCounter {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  width: 75px;
  justify-content: space-evenly;
}
.numberCounter p {
  color: #adb5bd;
  display: flex;
  align-items: center;
  width: 50%;
}
.verticalLine {
  width: 1px;
  background: #c4c4c4;
  height: 34px;
  margin: auto 0;
}
.inputArrows {
  display: flex;
  flex-direction: column;
  height: 65%;
  margin: auto 0;
  justify-content: space-around;
  width: 50%;
  align-items: center;
}
.inputArrows img {
  cursor: var(--cursor-pointer);
}

/* -------------------------------- GIF Model -------------------------------- */
.modelContainer {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.modelActive {
  display: flex;
}
.guideContainer {
  width: 100%;
  max-width: 48em;
  border-radius: 1em;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.guideContainer > svg {
  margin-left: auto;
  margin-bottom: 0.7em;
  cursor: var(--cursor-pointer);
  width: 25px;
  height: 25px;
}
.guideContainer > svg > path {
  fill: #4b4b5a;
}
.imgContainer {
  border: 1px solid #adb5bd;
  display: flex;
  padding: 1em 1.5em 1.5em;
  flex-direction: column;
}
.modelPreview {
  max-height: 24em;
  overflow-y: scroll;
  grid-template-columns: repeat(3, 1fr);
}
.closeIcon path {
  fill: #f1423b;
}
.gifAllBtn {
  display: flex;
  margin-top: 1.4em;
  justify-content: flex-end;
}
.gifAllBtn p,
.gifAllBtn div {
  border-radius: 40px;
  width: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 0.8em;
  cursor: var(--cursor-pointer);
}
.gifAllBtn div {
  background: var(--main-700);
  color: white;
  border: 1px solid var(--main-700);
  margin-left: 20px;
}
.gifAllBtn div:hover {
  background: var(--main-900);
  border: 2px solid var(--main-700);
}
.gifAllBtn p {
  color: #f1423b;
  border: 1px solid #f1423b;
}
.gifAllBtn p:hover {
  background: #f1423b;
  color: #fff;
  border: 2px solid #f1423b;
}
.sidebarActive {
  overflow-y: scroll;
  max-height: calc(100vh - 11em);
}
@media screen and (max-width: 1280px) {
  .preview {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1060px) {
  .durationLabel {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .playTut {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .preview {
    grid-template-columns: repeat(2, 1fr);
  }
  .modelPreview {
    grid-template-columns: repeat(3, 1fr);
  }

  .detail {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main {
    width: 100%;
  }
  .sidebar {
    width: 100%;
    position: static;
  }

  .main {
    width: 100%;
  }

  .detailsView {
    top: 3em;
    border: 1px solid var(--text-light-500);
    border-radius: 0.5em;
  }
  .sidebarActive {
    overflow-y: unset;
    height: auto;
  }
  .modelPreview {
    grid-template-columns: repeat(2, 1fr);
    max-height: 30em;
  }
}

@media screen and (max-width: 480px) {
  .preview {
    grid-template-columns: auto;
    justify-items: center;
  }

  .paginate * {
    font-size: 0.75rem;
  }

  .backBtn {
    width: 2em;
    height: 2em;
    position: static;
  }
}

/* Animation Keyframes*/
@keyframes loopplay {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@-moz-keyframes loopplay {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@-webkit-keyframes loopplay {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}

@-o-keyframes loopplay {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }
}
