.questionwrapper {
  margin: 0 auto;
  padding: 0.5rem;
  transition: 1.5s;
}

.questionwrapper.active {
  background-color: #f3f4f7;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #e5e8eb;
}

.question {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #212943;
  display: flex;
  justify-content: space-between;
}

.question:hover {
  cursor: pointer;
}
.question svg {
  width: 1rem;
  height: 1.5rem;
  fill: rgb(31, 29, 29);
  transition: transform 0.2s ease-in-out;
}

.question svg.active {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}
.question svg:hover {
  opacity: 0.8;
}

.btn {
  background-color: transparent;
  border: none;
}

.btn:focus {
  outline: none;
}

.answer {
  display: none;
  padding: 1rem 1rem;
}

.answer.active {
  display: block;
  text-align: left;
  padding-top: 1.5rem;
  font-weight: light;
  font-size: 0.8rem;
  line-height: 1.5;
  overflow-wrap: break-word;

  color: #9ea6ae;
  height: 0%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

h3 img {
  width: 1rem;
  margin-right: 1.2rem;
}
