.container {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.container img {
  animation: rotate 1600ms infinite;
  width: 1.6em;
}

.container p {
  font-size: 1.2rem;
}

@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}