.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin-bottom: 8em;
  background: var(--main-lightest);
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.wrapper img {
  width: 100%;
  max-width: 32em;
}

.content {
  max-width: 32em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.heading {
  color: var(--text-sub-heading);
}

.description {
  font-size: 2.5rem;
  color: var(--text-heading);
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  margin: 0.25em 0;
}

.link {
  color: var(--text-dark-900-main-hovered);
  background: var(--main-color);
  border: 1px solid transparent;
  color: white;
  padding: 0.75em 3em;
  border-radius: 2em;
  cursor: var(--cursor-pointer);
  transition: all 300ms;
}

.link:hover {
  background: var(--main-hovered);
}

@media screen and (max-width: 1200px) {
  .container {
    margin-bottom: 4em;
  }

  .wrapper img {
    max-width: 24em;
  }

  .description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .image {
    max-width: 20em;
  }

  .description {
    font-size: 2rem;
  }
}
