.container {
  width: 100%;
  margin-bottom: 4em;
  background: var(--default);
}

.heading {
  background: var(--default);
  padding: 0 1em;
  margin-bottom: 0.5em;
  height: 7em;
  height: 225.46px;

  background: linear-gradient(89.73deg, rgba(253, 240, 251, 0.11) 6.08%, rgba(204, 234, 251, 0.11) 99.94%),
    linear-gradient(180deg, #fef1fc 0%, rgba(254, 241, 252, 0) 100%);
}

.heading h3 {
  font-size: 48px;
  font-weight: 700;
  margin-left: 2.3em;
  padding-top: 1em;
}

.heading button {
  cursor: var(--cursor-pointer);
  padding: 0.5em 2.5em;
  border-radius: 2em;
  background: var(--main-color);
  color: white;
  transition: background 300ms;
  font-size: 1rem;
}

.heading button:hover {
  background: var(--main-hovered);
}

.noResult {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  text-align: center;
  font-size: 1.2rem;
}

.skeleton {
  width: 20em;
}

@media screen and (max-width: 900px) {
  .heading h3 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 680px) {
  .heading {
    gap: 0.5em;
  }

  .heading button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .heading {
    flex-direction: column;
  }
}
