.container {
  width: 100%;
  margin-bottom: 4em;
  background: var(--default);
}

.heading,
.heading2 {
  background: var(--default);
  margin-bottom: 0.5em;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em 1em;
}
.heading {
  height: 7em;
  background: linear-gradient(89.73deg, rgba(253, 240, 251, 0.11) 6.08%, rgba(204, 234, 251, 0.11) 99.94%),
    linear-gradient(180deg, #fef1fc 0%, rgba(254, 241, 252, 0) 100%);
}

.heading h3,
.heading2 h3 {
  font-size: 48px;
  font-weight: 700;
  /* margin-left: 2.3em; */
  /* padding-top: 1em; */
}

.heading2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.blueBtn {
  cursor: var(--cursor-pointer);
  padding: 0.5em 2.5em;
  border-radius: 2em;
  background: var(--main-color);
  color: white;
  transition: background 300ms;
  font-size: 1rem;
}

.blueBtn:hover {
  background: var(--main-hovered);
}

.feed {
  border: 1px solid var(--card-outline2);
  max-width: 1440px;
  padding: 2em;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.blueBox {
  background-color: var(--main-light2);
  padding: 1em;
  border-radius: 10px;
  margin-right: 2em;
  font-size: 14px;
}

.newestNft {
  border-radius: 50%;
  margin-right: 1em;
  width: 2.5em;
}

.profile {
  border-radius: 50%;
  margin-right: 1em;
  width: 4em;
}

.blue {
  color: var(--main-color);
  margin: 0 0.5em;
}

.time {
  font-weight: 700;
}

.skeleton {
  width: 20em;
}

.creators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em 2em;
  max-width: 1440px;
}

.creator {
  border: 1px solid var(--card-outline2);
  border-radius: 10px;
  padding: 1em;
  display: flex;
  align-items: center;
}

.creator img {
  margin-right: 1.5em;
}

.creatorName {
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
}
.dropedNfts {
  color: var(--text-light);
  font-size: 16px;
}

@media screen and (max-width: 1100px) {
  .heading h3 {
    font-size: 1.6rem;
  }

  .creators {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .heading h3 {
    font-size: 1.6rem;
  }

  .creators {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .heading {
    margin-bottom: 2em;
  }
  .creators {
    grid-template-columns: repeat(2, 1fr);
  }

  .creatorName {
    font-size: 12px;
  }

  .dropedNfts {
    font-size: 10px;
  }
  .address {
    font-weight: 400;
    font-size: 20px;
    width: 10em;
  }
  .profile {
    width: 2em;
  }
}

@media screen and (max-width: 680px) {
  .heading {
    gap: 0.5em;
  }

  .heading button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
  }

  .heading {
    flex-direction: column;
  }
}
