@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Roboto:wght@300&display=swap');

:root {
  --main-bg: #ffffff;
  --main-accent: #009987;
  --main-accent-dark:#037568;
  --text-color: #000000;
  --card-bg: #3d3d3d;
  --card-bg1: #27292C;
  --card-bg2: #242435;
  --card-bg3: #000000;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.App {
  width: 100%;
}

.App * {
  transition: width max-width font-size 150ms;
}

.Routes {
  width: 100%;
  margin-top: 6em;
}

*{
  font-family: 'Frank Ruhl Libre', serif;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
  .Routes {
    margin-top: 4em;
  }
}

