@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&family=Roboto:wght@300&display=swap");
@font-face {
  font-family: neue;
  src: url("fonts/NeueHaasDisplayLight.ttf");
}

:root {
  --main-bg: #ffffff;
  --main-accent: #009987;
  --main-accent-dark: #037568;
  --main-hover: #eff5f4;
  --main-light: #d0ebe9e4;
  --main-success: #00cc9b;
  --main-success-dark: #009987;
  --main-error: #ffe3d6;
  --main-error-dark: #ff3236;
  --main-warning: #ffeda6;
  --main-warning-dark: #ffad0d;
  --text-color: #000000;
  --card-bg: #3d3d3d;
  --card-bg1: #27292c;
  --card-bg2: #212529;
  --card-bg3: #000000;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

.App {
  width: 100%;
}

.App * {
  transition: width max-width font-size 150ms;
}

.Routes {
  width: 100%;
  min-height: calc(100vh - 19em);
}
.topSectionContainer {
  z-index: 4000;
  position: sticky;
  top: 0;
}
* {
  /* font-family: 'Frank Ruhl Libre', serif; */
  /* font-family: 'Roboto', sans-serif; */
  font-display: fallback;
  font-family: "Poppins", sans-serif;
  /* font-family: neue; */
}

/* width */
::-webkit-scrollbar {
  width: inherit;
  height: 6px;
  width: 10px;
  border-radius: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .Routes {
    margin-top: 3em;
  }
}
