.card {
  width: 21.5em;
  flex: 0 0 auto;
}

.card:hover img {
  transform: translateY(-0.5em);
}

.card img {
  width: 100%;
  transition: transform 650ms;
}

.card .name {
  width: 100%;
  text-align: center;
}
