.container {
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2em 0;
}

.chainIcon {
  border: 1px solid red;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.wrapper {
  border: 1px solid red;
}

.title {
  margin-bottom: 0.5em;
  border: 1px solid red;
}

.priceSection {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.btn {
  border: 1px solid red;
  padding: 0.5em 2em;
  border-radius: 2em;
}
