
.collectionItem{
    width: 10rem;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    border-radius: 0 0 10px 10px;
    margin:   1rem;
  
}

.collectionItem:hover{
  transform: scale(1.02);
  transition: all .2s ease-in-out;
  cursor: pointer;
}  
  .collectionItem img{
    width: 10rem;
  }
  
  .itemName{
    font-size: 15px;
    margin-top: 0.5rem;
    font-weight: bold;
    padding: 0 0.4rem;
    
  }
  .collectionName{
    padding: 0.4rem;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #707A83;
  }
  
  .itemPrice{
    padding: 5px;
    font-size: 15px;
  
  }
  
  .itemPrice span{
    font-size: 18px;
    float: right;
    color: #FFE161;
    font-weight: 400;
  
  }