.container {
  width: 100%;
  display: none;
  position: fixed;
  top: 4em;
  z-index: 10;
}

.container.active {
  display: block;
}

.closeIcon {
  width: 1em;
  height: 1em;
  cursor: pointer;
  fill: var(--warning-900);
}

.switchWalletNotification {
  width: 100%;
  background: var(--warning-300);
  border: 1px solid var(--warning-500);
  color: var(--warning-900);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.2em 1em;
  gap: 2em;
}

.message a {
  text-decoration: underline;
  margin-left: 0.5em;
}

@media screen and (max-width: 1000px) {
  .container {
    top: 3.5em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.85rem;
  }

  .closeIcon {
    width: 2em;
    height: 2em;
  }
}
