<?xml version='1.0'?>
<!-- This file represents a student's plans to take two classes to satisfy her General Education requirements -->
<program-of-study>

  <description>A student's plans to take two classes to satisfy her General Education requirements</description>
  <academic-year semester="fall" year="2008">
    <courses>
      <compulsory-courses>
        <course-name>MGT 217</course-name>
        <course-name>CIS 120</course-name>
        <course-name>CIS 403</course-name>
      </compulsory-courses>
      <additional-courses>
        <course-name Goal="8">PHIL 101</course-name>
        <course-name Goal="11">ECON 201</course-name>
      </additional-courses>
    </courses>
  </academic-year>

  <academic-year semester="spring" year="2009">
    <courses>
      <compulsory-courses>
        <course-name>CIS 220</course-name>
        <course-name>CIS 407</course-name>
        <course-name>CIS 490</course-name>
      </compulsory-courses>
      <additional-courses>
        <course-name>MGT 261</course-name>
        <course-name>MKTG 325</course-name>
      </additional-courses>
    </courses>
  </academic-year>

</program-of-study>