.container {
  width: 100%;
  margin-bottom: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1em;
  overflow: hidden;
}

.container * {
  transition: max-width 300ms;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--text-heading);
}

.heading span {
  color: var(--main-color);
}

.description {
  text-align: center;
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  margin-bottom: 3em;
  font-size: 1.2rem;
  color: var(--text-sub-heading);
  line-height: 1.5em;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10em;
}

.featureContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.featureContainer.not {
  flex-direction: row-reverse;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  transition: all 650ms;
}

.content > * {
  width: 100%;
  text-align: left;
}

.fHeading {
  color: var(--text-sub-heading);
}

.fTitle {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--text-heading);
}

.fDescription {
  color: var(--text-sub-heading);
}

.fLink {
  width: max-content;
  color: var(--main-color);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: var(--cursor-pointer);
}

.fLink div {
  color: var(--main-color);
}

.fLink svg {
  transition: all 300ms;
  fill: var(--text-sub-heading);
  fill: var(--main-color);
}

.fLink:hover svg {
  transform: translateX(1em);
}

.image {
  width: 100%;
  max-width: 42em;
  transition: all 650ms;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    gap: 6em;
  }

  .featureContainer {
    gap: 2em;
  }

  .image {
    max-width: 36em;
  }
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: calc(1rem + 2vmin);
  }

  .description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .image {
    max-width: 32em;
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-bottom: 4em;
  }

  .featureContainer.not,
  .featureContainer {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    gap: 4em;
  }
}
