.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3em 4em;
  border-radius: 1em;
  background: white;
  box-shadow: 0 0 15px gainsboro;
}

.container p {
  font-size: 2em;
  font-weight: 700;
}

.container button {
  font-size: 1.2rem;
  padding: 0.5em 2em;
  border-radius: 0.25em;
  background: var(--main-accent);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 100ms;
}

.container button:hover {
  outline: 2px solid var(--main-accent);
  background: var(--main-accent-dark);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;
  }

  .container p {
    width: 100%;
    font-size: 1.4rem;
  }

  .container button {
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.25em;
  }
}
