.card {
  width: 100%;
  border-radius: 0.5em;
  border: 1px solid gainsboro;
  transition: all 300ms;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 0 10px #a3a3a3;
}

.imageContainer {
  width: 100%;
  height: 16em;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100%;
  /* height: 100%; */
}

.cardBody {
  width: 100%;
  padding: 0.5em;
  margin-top: 2px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.collectionName {
  margin-bottom: 0.5em;
  overflow: auto;
}

.name {
  margin-bottom: 1em;
  overflow: auto;
}

.usdPrice {
  font-size: 0.7rem;
  font-weight: lighter;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.list {
  font-weight: 500;
  color: gray;
  font-size: 0.75rem;
}

.price {
  color: var(--main-accent);
  font-weight: bold;
}

.chain {
  font-size: 0.75rem;
}

.button {
  font-size: 1rem;
  padding: 0.25em 1.5em;
  border-radius: 0.25em;
  background: var(--main-accent);
  color: white;
  transition: all 300ms;
}

.button:hover {
  background: var(--main-accent-dark);
  outline: 2px solid var(--main-accent);
}
.buttonSold {
  background-color: #707a83;
  cursor: default;
}
.buttonSold:hover {
  background: #707a83;
  outline: none;
}
